@charset "utf-8";

@font-face {
  font-family: 'NotoKr';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/assets/common/fonts/NotoSans-Regular.eot);
  src: url(/assets/common/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
       url(/assets/common/fonts/NotoSans-Regular.woff2) format('woff2'),
       url(/assets/common/fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'NotoKr';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(/assets/common/fonts/NotoSans-Bold.eot);
  src: url(/assets/common/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
       url(/assets/common/fonts/NotoSans-Bold.woff2) format('woff2'),
       url(/assets/common/fonts/NotoSans-Bold.woff) format('woff');
}

/* Layout */
html, body{width:100%;height:100%}
body{min-width:1600px;min-height:900px;background-color:#e6eaee}
body,h1,h2,h3,h4,h5,h6,input,button,textarea,select{line-height:1.2;font:12px '맑은 고딕', Malgun Gothic, '돋움', Dotum, Verdana, Arial, AppleGothic, sans-serif;color:#333}
input::placeholder,textarea::placeholder{color:#333}
em{font-style:normal}
strong{font-weight:normal}
button{outline:0}

/* round 요소 */
.mu-list,.mu-prompt,.mu-confirm,.mu-progress,.mu-popup-menu,.mu-popup-menu > li > ul,.mu-popup-menu > li > ul > li > ul,.mu-area,.mu-search-group,.mu-round,.mu-input,.mu-btn,.mu-selectbox > .mu-value,.mu-selectbox > .mu-list,.mu-pagination > button,.mu-pagination a,.mu-tab-vertical > li > a,.mu-alert,.mu-paging > a,.mu-paging > button,.mu-panel{border-radius:2px}

.wrap{position:relative;width:100%;height:100%;min-width:1600px;min-height:900px}
header{height:47px;border-bottom:1px solid #000;background:#3b4049;box-shadow:0 3px 3px 0 rgba(0, 0, 0, .2)}
h1{position:relative;float:left;min-width:105px;border:0;background:transparent}
h1 span{display:block;width:105px;height:46px;background:url(/assets/images/comm/logo.png) no-repeat 0 0;font-size:0;line-height:0}
nav{float:left;width:auto;margin-left:153px}

/* color */
.bg-gray{background:#61666d !important}
.bg-dgray{background:#4a4f57 !important}
.bg-blue{background:#42a6fd !important}
.bg-yellow{background:#f9bc00 !important}
.bg-orange{background:#f97d00 !important}
.bg-red{background:#fa1935 !important}

/* border line type */
.mu-line-type1{border-bottom:1px solid #bbb !important}
.mu-bar{display:inline-block;width:1px;height:26px;background:#bbb;vertical-align:middle}

/* elements style */
.mu-hgroup > * + *{margin-left:0}

.mu-search-group{display:block;border:1px solid #bbb;box-shadow:none;border-radius:0}
.mu-search-group .mu-search-item{padding:10px}
.mu-search-group .mu-item-group > label{margin-right:6px;font-weight:700;color:#333}
.mu-search-group .mu-item-group > label:before{display:inline-block;content:'';width:3px;height:10px;margin-right:8px;background:url(/assets/images/ico/ico_title_bar.png) no-repeat 0 0}
.mu-search-group .mu-item-group + .mu-item-group{margin-left:10px}
.mu-search-group .mu-item-group label{color:#333}
.mu-search-group .mu-item-group .mu-hgroup > * + *{margin-left:0}
.mu-search-group .mu-search-btn{padding:10px;border-left:0}
.mu-search-group .mu-search-btn .mu-btn{min-width:73px;font-weight:400}

.mu-search-item > * + *{margin-left:0}

section{padding:5px}
.mu-container{height:calc(100% - 47px)}
.mu-content{height:calc(100% - 30px)}
.mu-container .mu-row .mu-col{padding:5px}

/* mu-row height */
.mu-row-type1{height:calc(100% - 60px)}

/* elements area */
.mu-chart-area{padding:0 15px 15px}
.mu-grid-area{padding:10px;border:1px solid #bbb;border-top-color:transparent;background:#fff;text-align:left}

/* ui element */
.mu-input{display:inline-block;height:26px;line-height:26px;border:1px solid #bbb;background:#f9f9f9;vertical-align:middle}
.mu-input:hover, .mu-input:active, .mu-input:focus{border-color:#485dc6}
.mu-input[disabled], .mu-input[readonly]{border-color:#bbb;background-color:#f2f2f2;color:#7e7e7e}

.mu-find-box{display:inline-block;vertical-align:middle}
.mu-find-box:after{display:block;content:'';clear:both}
.mu-find-box .mu-btn, .mu-find-box .mu-input{float:left}
.mu-find-box .mu-btn{border-top-right-radius:0;border-bottom-right-radius:0}
.mu-find-box .mu-input{width:325px;border-left:0;border-top-left-radius:0;border-bottom-left-radius:0}

.mu-area{border:1px solid #bbb;background:#f9f9f9}
.mu-area:hover, .mu-area:active, .mu-area:focus{border-color:#485dc6}
.mu-area[disabled], .mu-area[readonly]{border-color:#bbb;background-color:#f2f2f2;color:#7e7e7e}

/* button */
.mu-btn{display:inline-block;height:26px;border:1px solid #bbb;background-color:#e3e3e3;line-height:24px;vertical-align:middle}
.mu-btn:hover, .mu-btn:active{background-color:#f7f7f7}

.mu-btn.mu-btn-search{border-color:#c85657 !important;background-color:#db6061 !important;text-align:center}
.mu-btn.mu-btn-search:hover, .mu-btn.mu-btn-search:active{background-color:#f1696a !important}
.mu-btn.mu-btn-search i{margin-right:8px}

.mu-btn-mint{border-color:#378d9c !important;background-color:#3ea2b3 !important}
.mu-btn-mint:hover, .mu-btn-mint:active{background-color:#46b5c8 !important}
.mu-btn-red{border-color:#c85657 !important;background-color:#db6061 !important}
.mu-btn-red:hover, .mu-btn-red:active{background-color:#f1696a !important}
.mu-btn-green{border-color:#63a416 !important;background-color:#73be19 !important}
.mu-btn-green:hover, .mu-btn-green:active{background-color:#7ed11a !important}
.mu-btn-blue{border-color:#485dc6 !important;background-color:#5168df !important}
.mu-btn-blue:hover, .mu-btn-blue:active{background-color:#5972f3 !important}
.mu-btn-gray, .mu-btn-gray:hover, .mu-btn-gray:active{color:#333}

.mu-btn-icon{text-align:left}
.mu-btn-icon > i{margin-right:6px}

/* checkbox */
.mu-checkbox{display:inline-block;min-width:115px;vertical-align:middle}
.mu-checkbox label{height:14px;line-height:14px}
.mu-checkbox label:before{content:'';width:14px;height:14px;border:1px solid #7083de;border-radius:2px;box-shadow:0 1px 0 0 rgba(0, 0, 0, .1) inset}
.mu-checkbox input[disabled] + label:before{content:'';border-color:#c5ccf1}
.mu-checkbox input[disabled] + label{color:#696969}
.mu-checkbox input:checked + label:before{content:'\f00c';color:#fff;border-color:#5168df;background:#5168df;box-shadow:none;font-size:11px}
.mu-checkbox input:checked:hover + label:before{color:#fff}
.mu-checkbox input[disabled]:checked + label:before{content:'\f00c';color:#fff;border-color:#a8b3ef;background:#a8b3ef}
.mu-checkbox input[disabled]:checked + label{color:#696969}

/* radio */
.mu-radio{display:inline-block;min-width:85px;vertical-align:middle}
.mu-radio label{height:14px;line-height:14px}
.mu-radio label:before{content:'';width:14px;height:14px;border:1px solid #788ae0;border-radius:50%;box-shadow:0 0 1px 0 rgba(0, 0, 0, .5) inset}
.mu-radio input[disabled] + label:before{content:'';border-color:#c5ccf1}
.mu-radio input[disabled] + label{color:#696969}
.mu-radio input:checked + label:before{content:'';border:4px solid #5168df;box-shadow:none}
.mu-radio input[disabled]:checked + label:before{content:'';border-color:#a8b3ef}
.mu-radio input[disabled]:checked + label{color:#696969}

/* list */
.mu-list{border:1px solid #485dc6;background:#fff;box-shadow:0px 5px 16px 0 rgba(0, 0, 0, .24)}
.mu-list > li{height:26px;line-height:26px;text-indent:10px} 
.mu-list > li + li{border-top:0}
.mu-list > li:first-child{border-top-left-radius:0;border-top-right-radius:0}
.mu-list > li:last-child{border-bottom-left-radius:0;border-bottom-right-radius:0}
.mu-list > li:hover, .mu-list > li.active{background-color:#5168df;color:#fff}
.mu-list > li.active > a{color:#fff}
.mu-list > li > a{padding:0 10px;color:#333}

/* selectbox */
.mu-selectbox .mu-list{top:27px;color:#333}
.mu-selectbox .mu-value{min-width:130px;height:26px;padding:0 25px 0 10px;border:1px solid #bbb;background:#f9f9f9}
.mu-selectbox .mu-value:hover,
.mu-selectbox .mu-value:active,
.mu-selectbox .mu-value:focus{border-color:#485dc6}
.mu-selectbox .mu-value:after{border:5px solid #333;border-bottom:0;border-left-color:transparent;border-right-color:transparent}
.mu-selectbox.on .mu-value{border-color:#485dc6;background:#f9f9f9;color:#333} 
.mu-selectbox.on .mu-value:after{border-top:0;border-bottom:5px solid #333}
.mu-selectbox.disabled > .mu-value{background-color:#f2f2f2;color:#7e7e7e}
.mu-selectbox.disabled > .mu-value:after{border-bottom-color:#6c6c6c}

/* formbox */
.mu-formbox{border:1px solid #d8d8d8}
.mu-formbox tbody > tr{height:32px}
.mu-formbox tbody > tr > th{padding:0 10px 0 10px;background-color:#f6f6f6;text-align:right}
.mu-formbox tbody > tr > td{padding:0 10px}
.mu-formbox tbody > tr > th+th,.mu-formbox tbody > tr > th+td,.mu-formbox tbody > tr > td+td,.mu-formbox tbody > tr > td+th{border-left:1px solid #d8d8d8}
.mu-formbox tbody > tr+tr > th,.mu-formbox tbody > tr+tr > td{border-top:1px solid #d8d8d8}
.mu-formbox tbody > tr:first-child > th,.mu-formbox tbody > tr:first-child > td{border-top:1px solid #d8d8d8}
.mu-formbox tbody > tr:last-child > th,.mu-formbox tbody > tr:last-child > td{border-bottom:1px solid #d8d8d8}
.mu-formbox tbody > tr > th:first-child,
.mu-formbox tbody > tr > td:first-child{border-left:1px solid #d8d8d8}
.mu-formbox tbody > tr > th:last-child,
.mu-formbox tbody > tr > td:last-child{border-right:1px solid #d8d8d8}
.mu-formbox tbody > tr > td > .mu-input, .mu-formbox tbody > tr > td > .mu-btn, .mu-formbox tbody > tr > td > .mu-selectbox .mu-value{border-radius:2px;}
.mu-formbox tbody > tr > td > .mu-selectbox, .mu-formbox tbody > tr > td > .mu-selectbox .mu-value{width:170px}
.mu-formbox tbody > tr > td > .mu-area{margin:3px 0}
.mu-formbox .mu-checkbox-group .mu-checkbox{margin:5px 0 7px}
.mu-formbox .time-info{display:inline-block;margin-left:6px;vertical-align:middle;color:#f96244}

/* 타이틀 */
.mu-page-title{padding:7px 0;border-bottom:0}
.mu-page-title:after{display:block;content:'';clear:both}
.mu-title{float:left;font-family:'맑은 고딕', Malgun Gothic;font-size:12px;line-height:26px}
.mu-title-blt:before{display:inline-block;content:'';width:3px;height:10px;margin-right:8px;background:url(/assets/images/ico/ico_title_bar.png) no-repeat 0 0}

/* icon */
.mu-icon-img{display:inline-block;height:17px;background:url(/assets/images/ico/ico_spr_common.png) no-repeat 0 0;vertical-align:middle}
.mu-icon-img.user{background-position:-10px -10px}
.mu-icon-img.time-slt{background-position:-42px -10px;width:15px}
.mu-icon-img.term-stt{background-position:-67px -10px;width:14px}
.mu-icon-img.search{background-position:-91px -10px;width:15px}
.mu-icon-img.excel{background-position:-114px -10px;width:14px}
.mu-icon-img.import{background-position:-138px -10px;width:13px}
.mu-icon-img.save{background-position:-161px -10px;width:12px}
.mu-icon-img.undock{background-position:-10px -43px}
.mu-icon-img.max{background-position:-31px -43px}
.mu-icon-img.close{background-position:-51px -43px}
.mu-icon-img.location{background-position:-68px -41px;width:11px;height:14px}

.mu-icon.angle-right:before{content:'\f105'}
.mu-icon.double-right:before{content:'\f101'}
.mu-icon.double-left:before{content:'\f100'}

/* breadcrumb */
.breadcrumb{height:30px;padding:8px 15px}
.mu-path > li{line-height:14px}
.mu-path > li:after{margin:0 4px;color:#3f3f3f}
.mu-path > li i{margin-right:3px;vertical-align:top}
.mu-path a, .mu-path a:hover{color:#333}

/* tab */
.mu-tab{display:block}
.mu-tab > li{position:relative;margin-bottom:-1px}
.mu-tab > li:before, .mu-tab > li:after{position:absolute;top:6px;content:'';width:1px;height:21px;background:#bbb}
.mu-tab > li:before{left:-1px}
.mu-tab > li:after{right:0}
.mu-tab > li:hover:before,.mu-tab > li:hover:after,
.mu-tab > li.active:before,.mu-tab > li.active:after{top:0;height:100%}
.mu-tab > li + li{margin-left:0}
.mu-tab > li > a{position:relative;border-bottom:1px solid #bbb;background-color:#f6f6f6;color:#333}
.mu-tab > li > a:before{position:absolute;top:0;left:0;content:'';width:100%;height:4px;background:transparent}
.mu-tab > li > a:hover{background-color:#fff}
.mu-tab > li > a:hover:before{background:#bbb}
.mu-tab > li.active > a{border-bottom-color:#fff;background-color:#fff;font-weight:700}
.mu-tab > li.active > a:before{background:#687ff4}

.mu-tab-pill{border:1px solid #bbb;background-color:#f6f6f6}
.mu-tab-pill > li > a{min-width:80px;padding-top:9px;padding-bottom:8px}

.mu-tab-body{height:calc(100% - 35px)}

/* dialog */
.mu-dialog-background{opacity:.2;filter:alpha(opacity=20)}
.mu-dialog{border:1px solid #bbb;box-shadow:0 5px 16px 0 rgba(0, 0, 0, .24)}
.mu-dialog-head{border-bottom:1px solid #bbb;background-color:#f6f6f6}
.mu-dialog-head .title{font-size:14px;font-family:'맑은 고딕', Malgun Gothic;color:#2f323f}
.mu-dialog-head .btn-group{float:right;height:100%}
.mu-dialog-head .btn-group:after{display:block;content:'';clear:both}
.mu-dialog-head .mu-btn{float:left;width:36px;height:100%;margin:0;border:0;border-radius:0;text-align:center}
.mu-dialog-head .mu-btn:hover{border-left:1px solid #bbb;border-right:1px solid #bbb;background:#e6e6e6 !important}
.mu-dialog-head .mu-btn:last-child:hover{border-right:0}
.mu-dialog-head .mu-btn i{width:11px;height:11px;margin:0}

.mu-dialog-body{overflow:visible}
.mu-dialog-body .mu-title{min-width:70px;padding-right:10px}
.mu-dialog-body .mu-tab-body{height:auto}
.mu-dialog-body .mu-level-group{margin:5px 15px 10px}
.mu-dialog-body .angle-right{margin:0 2px;font-weight:700}
.mu-dialog-body .mu-btn-area{padding:20px 0 10px;text-align:center}
.mu-dialog-body .mu-btn-area .mu-btn{min-width:80px}

.mu-dialog-body .mu-search-group{border:0}
.mu-search-group-type1{padding:8px 0}
.mu-search-group-type1 .mu-search-item{display:block;padding:6px 0}
.mu-search-group-type1 .mu-item-group > label{display:inline-block;min-width:66px;margin-right:0}
.mu-search-group-type1 .mu-item-group > label:before{display:none}

.mu-dialog-body .mu-panel-wrap:after{display:block;content:'';clear:both}
.mu-dialog-body .mu-col-box{width:calc(50% - 70px / 2)}
.mu-dialog-body .mu-col-btn{display:inline-block;width:70px;margin-top:190px;text-align:center}
.mu-dialog-body .mu-col-btn .mu-btn{width:36px;margin:3px 0;text-align:center}
.mu-dialog-body .mu-col-btn .mu-btn-icon > i{margin:0}
.mu-dialog-body .mu-col-btn .mu-btn-icon > i:before{font-size:17px}

.mu-dialog-body .mu-grid-box{border-top:1px dashed #ddd}
.mu-dialog-body .mu-grid-box + .mu-grid-box{margin-top:10px}

.mu-dialog-foot{padding:0 0 20px;border-top:0;text-align:center}
.mu-dialog-foot .mu-btn{min-width:80px}

/* Navigation - Horizontal GNB */
.mu-h-menu > li{margin:0 22px}
.mu-h-menu > li > a{min-width:110px;padding:3px 13px 0;font-family:'맑은 고딕', Malgun Gothic;font-size:14px;color:#ccc;text-align:left}
.mu-h-menu > li > a > i{margin-right:14px}
.mu-h-menu > li > a > span{display:inline-block;vertical-align:middle;line-height:1.5}
.mu-h-menu > li:hover, .mu-h-menu > li.active{position:relative}
.mu-h-menu > li:hover > a, .mu-h-menu > li.active > a{background:#171719;color:#fff}
.mu-h-menu > li:hover:before, .mu-h-menu > li.active:before{position:absolute;top:0;display:block;content:'';width:100%;height:3px}
.mu-h-menu > li:hover:before{background:#fff}
.mu-h-menu > li.active:before{background:#5168df}
/* menu::level2 */
.mu-h-menu ul{min-width:132px}
.mu-h-menu .mu-list{top:43px;border:1px solid #fff}
.mu-h-menu .mu-list > li{height:30px;line-height:30px;text-indent:0}
.mu-h-menu .mu-list > li:hover{background-color:#dce1f9}
.mu-h-menu .mu-list > li.active{background-color:#5168df}
.mu-h-menu .mu-list > li.active > a{color:#fff}
.mu-h-menu .mu-list > li > a{padding:0 10px;color:#333}

/* Navigation - icon */
.mu-h-menu > li .mu-icon-nav{display:inline-block;height:17px;background:url(/assets/images/ico/ico_spr_nav.png) no-repeat 0 0}
.mu-h-menu > li .mu-icon-nav.monitor{width:17px;background-position:-10px -10px}
.mu-h-menu > li .mu-icon-nav.check{width:14px;background-position:-37px -10px}
.mu-h-menu > li .mu-icon-nav.setting{width:16px;background-position:-61px -10px}

.mu-h-menu > li:hover .mu-icon-nav,
.mu-h-menu > li.active .mu-icon-nav{background-position-y:-37px}

/* 성능감시 */
.mu-page-mnt{background:#262b34}

.mu-page-mnt .mu-row{height:100%}
.mu-page-mnt .mu-row .mu-col{height:33.3%}
.mu-page-mnt .section-box{height:100%;border:1px solid #434d5b;background:#363b46;text-align:left}

.mu-page-mnt .mu-page-title{padding:8px 8px 0 15px}
.mu-page-mnt .mu-title{font-size:16px;color:#fff}

.mu-page-mnt .mu-level-group{margin:15px 15px 13px}
.mu-page-mnt .mu-level-group strong{color:#d2d4d7}

.mu-page-mnt .mu-selectbox .mu-value{min-width:80px;border:1px solid #181d30;background:#3b4049;box-shadow:0 1px 0 rgba(255, 255, 255, .1) inset;color:#fff}
.mu-page-mnt .mu-selectbox .mu-value:hover,
.mu-page-mnt .mu-selectbox .mu-value:active,
.mu-page-mnt .mu-selectbox .mu-value:focus{border-color:#181d30}
.mu-page-mnt .mu-selectbox .mu-value:after{border:5px solid #d2d4d7;border-bottom:0;border-left-color:transparent;border-right-color:transparent}
.mu-page-mnt .mu-selectbox.on .mu-value{background:#4b525d} 
.mu-page-mnt .mu-selectbox.on .mu-value:after{border-top:0;border-bottom:5px solid #d2d4d7}

/* 시간지정 타임박스 */
.mu-time-wrap{padding:20px 0}
.mu-time-box{margin:-3px}
.mu-time-box:after{display:block;content:'';clear:both}
.mu-time-box li{float:left;width:8.333%;padding:3px}
.mu-time-box li a{display:block;height:26px;border:1px solid #bbb;background:#e3e3e3;border-radius:2px;text-align:center;line-height:24px;color:#333}
.mu-time-box li a.active, .mu-time-box li a:active{border-color:#378d9c;background:#3ea2b3;color:#fff}

/* mx-datepicker */
.mx-input{width:200px;height:26px;border-color:#bbb;background-color:#f9f9f9;border-radius:2px;font-size:12px;color:#333}
.mx-input:hover{border-color:#485dc6}
.mx-input:focus{border-color:#bbb}
.mx-icon-calendar, .mx-icon-clear{top:1px;right:1px;width:28px;height:24px;border-left:1px solid #bbb;background-color:#e3e3e3;transform:translateY(0);-webkit-transform:translateY(0);color:rgba(51, 51, 51, 1)}
.mx-datepicker{font-family:'맑은 고딕', Malgun Gothic;color:#333}
.mx-datepicker svg{height:1.5em}
.mx-datepicker-range{width:auto}
.mx-datepicker-inline{display:block;border:0}

.mx-datepicker-popup{border:1px solid #bbb;border-radius:2px;box-shadow:0 5px 16px 0 rgba(0, 0, 0, .24)}

.mx-calendar{padding:6px 8px 10px}
.mx-calendar + .mx-calendar{border-left:1px solid #bbb}
.mx-calendar-header, .mx-time-header{height:28px;margin-bottom:6px;line-height:28px}
.mx-calendar-header > .mx-btn-text{height:20px;margin:4px 6px;padding:0 6px 0 7px;line-height:normal}
.mx-calendar-header > .mx-btn{border:1px solid transparent;border-radius:2px}
.mx-calendar-header > .mx-btn:hover{border-color:#bbb}
.mx-calendar-content{width:205px;height:auto}
.mx-calendar-content .cell{border:1px solid transparent;border-radius:2px}
.mx-calendar-content .cell:hover{border-color:#3ea2b3;background:transparent}
.mx-calendar-content .cell.today{border-color:transparent;background:#e3e3e3;color:#333}
.mx-calendar-content .cell.active{border-color:transparent;background:#3ea2b3;color:#fff}
.mx-calendar-content .cell.in-range{border-color:transparent;background:#3ea2b3;color:#fff}

.mx-table{border-spacing:2px}
.mx-table-date th, .mx-table-date td{vertical-align:middle}
.mx-table-date th{height:20px}
.mx-table-date td{height:22px}

.mx-btn{padding:0 3px;color:#333}
.mx-btn:hover{border-color:#3ea2b3;color:#3ea2b3}
.mx-btn-icon-double-left, .mx-btn-icon-double-right,.mx-icon-double-left:after, .mx-icon-double-right:after{display:none}
.mx-icon-left:before,
.mx-icon-right:before,
.mx-icon-double-left:before,
.mx-icon-double-right:before{left:0;width:auto;height:auto;border:0;font-family:FontAwesome;transform:rotate(0) scale(1);-webkit-transform:rotate(0) scale(1)}
.mx-icon-left:before, .mx-icon-double-left:before{content:'\f0d9'}
.mx-icon-right:before, .mx-icon-double-right:before{content:'\f0da'}

.mx-calendar-panel-year .mx-btn-icon-double-left, .mx-calendar-panel-year .mx-btn-icon-double-right{display:block}

/* agGrid */
.ag-theme-balham .ag-root{border:1px solid #bbb}
.ag-theme-balham .ag-header{border-bottom:1px solid #dadae9;background-color:#fff;font-family:'맑은 고딕', Malgun Gothic;font-size:12px;color:#4d5f7a}
.ag-theme-balham .ag-header-group-cell-label, .ag-header-cell-label{justify-content:center}
.ag-theme-balham .ag-header-row{height:32px}
.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell{background-color:#dadcdc}
.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after{height:100%;margin-top:0;border-right:1px solid #bbb}
.ag-theme-balham .ag-header-cell-label .ag-header-icon{margin-left:auto}
.ag-theme-balham .ag-header-select-all{margin-right:0}
.ag-body-viewport .ag-center-cols-container{width:100% !important;font-family:'맑은 고딕', Malgun Gothic}
.ag-theme-balham .ag-row{height:35px;border-color:transparent}
.ag-theme-balham .ag-row:not(.ag-row-first){border-width:0}
.ag-theme-balham .ag-row-odd .ag-cell{background-color:#f6f6f6}
.ag-theme-balham .ag-row-hover .ag-cell{border-top-color:#b6c0ff;border-bottom-color:#b6c0ff;background-color:#e9ecff}
.ag-theme-balham .ag-row-selected .ag-cell{border-top-color:#b6c0ff;border-bottom-color:#b6c0ff;background-color:#cad1ff}
.ag-theme-balham .ag-ltr .ag-cell{border-right:1px solid #dadcde}
.ag-theme-balham .ag-cell{border-bottom-color:#dadcde;line-height:32px}
.ag-theme-balham .ag-icon-checkbox-checked, .ag-theme-balham .ag-icon-checkbox-indeterminate, .ag-theme-balham .ag-icon-checkbox-unchecked{line-height:14px}
.ag-theme-balham .ag-icon-checkbox-unchecked:before{display:block;content:'';width:14px;height:14px;border:1px solid #7083de;border-radius:2px;box-shadow:0 1px 0 0 rgba(0, 0, 0, .1) inset}
.ag-theme-balham .ag-icon-checkbox-checked:before{display:block;content:'\f00c';width:14px;height:14px;border:1px solid #5168df;background:#5168df;border-radius:2px;box-shadow:none;font-size:11px;font-family:FontAwesome;color:#fff}
.ag-cell-wrapper{justify-content:center}

/* login */
.login-wrap{margin:0;background:none}
.login-wrap > .mu-box-wrap{margin:0}
.login-wrap .mu-box-wrap .mu-box-cell{position:relative}
.login-wrap .mu-img-area{background:#fff;text-align:center}

.login-wrap .mu-img-box img{display:inline-block;width:618px;height:491px}
.login-wrap .mu-login-area{background:#2c3149}
.login-wrap .login-info, .login-wrap footer{position:absolute;width:100%;bottom:15px;border-top:0;font-family:'맑은 고딕', Malgun Gothic;font-size:12px;text-align:center}
.login-wrap .login-info span{display:inline-block;color:#9698a4}
.login-form{padding:30px}
.login-form .mu-title{all:unset}
.login-form .mu-title span{display:inline-block;width:265px;height:54px;background:url(/assets/images/login/login_logo.png) no-repeat 0 0;font-size:0;line-height:0}
.login-form .mu-input{height:37px;margin-top:16px;padding:2px 15px 0;border:0;line-height:37px}
.login-form .mu-input::placeholder{color:#868689}
.login-form .btn-sign-in{height:37px;border:0;margin-top:16px;background-color:#485ab7;font-family:'맑은 고딕', Malgun Gothic;font-size:14px;;line-height:37px}
.login-wrap footer{height:auto;line-height:unset;color:#333}
.login-wrap footer:after{display:none}

/* no-page */
.no-page-wrap{width:100%;height:100%;background:#fff}
.mu-box-cell.no-page-area{width:723px;height:665px;border:0;background:#fff url(/assets/common/images/comm/bg_no_page.png) no-repeat center center;text-align:center;vertical-align:middle;color:#333}
.no-page-area .title{font-family:'NotoKr';font-weight:700;font-size:36px}
.no-page-area .info{margin:23px 0 41px;font-family:'NotoKr';font-weight:400;font-size:18px}
.no-page-area .info strong{display:inline-block;margin-bottom:5px;padding:0 8px;background:#5168df;color:#fff}
.no-page-area .info span{display:block;line-height:24px}
.no-page-area .mu-btn{height:36px;padding:0 50px;border:1px solid #485dc6;background-color:#5168df;font-size:14px;;line-height:36px}

/*************/
/* Box-Model */
/*************/

/* width */
.width140{width:140px !important}

/* height */
.h100p{height:100% !important}