@charset "utf-8";

/* Layout */
html,body{margin:0;width:100%;height:100%;min-height:100%}
body{min-width:1280px;min-height:768px;background-color:#e7e7e7}
/* .login-wrap{height:100%;margin-bottom:-26px;background:url(../images/login/bg_background.png) left bottom no-repeat;text-align:center} */
.login-wrap{height:100%;margin-bottom:-26px;text-align:center}
.login-wrap > .mu-hgroup{display:table;width:100%;padding:40px 56px 0}
.login-wrap h1.mu-title{font-family:Arial,sans-serif;font-size:30px;font-weight:bold;color:#7c7d7f}

.login-wrap > .mu-box-wrap{*zoom:1;margin-top:-85px;border-spacing:0}
.login-wrap > .mu-box-wrap .mu-box-cell{border:0;vertical-align:middle}
.login-form{display:inline-block;padding:30px 55px;min-width:333px;}
.login-form .mu-title{margin-bottom:30px;font-family:verdana,sans-serif;font-size:55px;color:#7c7d7f}
.login-form .mu-title small{display:block;margin-top:-13px;font-size:16px;color:#9e9d9d}
.login-form .mu-title small b{font-weight:bold}
.login-form .mu-vgroup > *{display:block;width:100%}
.mu-input{border-color:#fff;}
.login-form .mu-vgroup > .mu-input-icon .mu-icon{color:#7c7d7f}
.login-form .btn-sign-in{height:46px;line-height:46px;font-weight:bold;font-size:16px;font-family:"Nanum Gothic"}
.login-form .mu-checkbox label{padding-left:26px;height:23px;line-height:23px;font-family:dotum;font-size:11px;color:#6a6a6a}
.login-form .mu-checkbox label:before{top:0;font-size:23px}
.login-alert{height:640px;width:700px;} 
footer{height:26px;line-height:26px;text-align:center;font-size:10px;font-family:verdana;color:#777}
footer .copyright{font-size:10px}