<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="width:100%; height: 100%;">
        <h1 style="text-align: center" >장비 테이블 리스트</h1>

<!--        <span th:text="${paging.cri.page}+ '/' + ${paging.lastPage}" style="text-align: left; padding-left: 200px;"/>-->

            <select id="selectDisNum" th:field="*{displayPageNum}" th:onchange="selectDisplayPageNum(this.value)">
                <option th:each="disNum : ${displayPageNum}" th:value="${disNum.selectDisplayPage}" th:text="${disNum.selectDisplayPageName}">페이지 개수</option>
            </select>
            <select id="eqpNmfilter" th:field="*{filterParam_eqpNm}" th:onchange="">
                <option value=" ">장비이름</option>
                <option th:each="filter : ${filterParam_eqpNm}" th:value="${filter.filterValue}" th:text="${filter.filterName}">장비 이름</option>
            </select>
            <select id="eqpOpStatFilter" th:field="*{filterParam_eqpOpStat}" th:onchange="">
                <option value=" ">장비운용상태</option>
                <option th:each="filter : ${filterParam_eqpOpStat}" th:value="${filter.filterValue}" th:text="${filter.filterName}">장비운용상태</option>
            </select>
            <select id="jrdtHdofcCdFilter" onchange="selectBoxCategoryChange(this.value)">
                <option value=" ">관할본부조직코드</option>
                <option value="04" th:text="연구소"></option>
                <option value="11" th:text="영업그룹"></option>
                <option value="17" th:text="NI개발그룹"></option>
                <option value="21" th:text="NX개발그룹"></option>
                <option value="26" th:text="DX개발그룹"></option>
                <option value="31" th:text="DV개발그룹"></option>
                <option value="34" th:text="IOP개발그룹"></option>
                <option value="39" th:text="|Corporate Center|"></option>
            </select>

        <select id="rdtTeamOrgCdFilter"  class="form-select">
            <option value=" ">관할팀조직코드</option>
        </select>

        <input type="text" />

        <button type="button" id="applyFilterBtn" th:onclick="applyFilter()">조회하기</button>
<!--        <div id="myGrid" style="width:100%; height: 500px; margin: auto" class="ag-theme-alpine"></div>-->
        <div id="myGrid" class="ag-theme-balham" style="width:100%; height: 500px; margin: auto"></div>
        <ul id="paging">

        </ul>

    </div>
</body>

<!--<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>-->
<link rel="stylesheet" th:href="@{/style3.css}"/>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:src="@{/ag-grid-enterprise/dist/ag-grid-enterprise.js}"></script>



<script th:inline="javascript">
    const totalCount = 2300;    //전체 데이터 수
    let perPageNum = 10;      // 페이지당 보여줄 데이터 개수

    let totalPage = Math.ceil(totalCount / perPageNum); //총 페이지 개수  230 = 2300/10

    const currentPage = 1;  //현재 페이지
    let pageCount = 10;    //한번에 보여질 페이징 개수

    //현재 페이지 그룹 구하기
    let pageGroup = Math.ceil(currentPage / pageCount); //지금 내가 있는 페이지 1

    // 페이징 그리기
    let lastNumber = pageGroup * pageCount
    if (lastNumber > totalPage) {
        lastNumber = totalPage
    }
    let firstNumber = lastNumber - (pageCount - 1)

    const next = lastNumber + 1;    //다음
    const prev = firstNumber - 1;    //이전

    let html = '';


    // 1~10 만큼 페이지네이션 그려줌
    function paging() {

        for (let i = firstNumber; i <= lastNumber; i++) {
            // html +=  `<button type="button" onclick="location.href='index?page=${i}&perPageNum=${perPageNum}'; sendPagingInfo(${i},${perPageNum})">${i}</button>`;
            html +=  `<button type="button" onclick=sendPagingInfo(${i},${perPageNum})>${i}</button>`;
            // console.log(html);
        }
        if(currentPage<totalPage){
            html += `<button type="button" onclick=sendPagingInfo(${next},${perPageNum}); >다음</button>`;
        }



        $("#paging").html(html);
        console.log("currentPage : " + currentPage);
        console.log("lastNumber : " + lastNumber);
        console.log("firstNumber : " + firstNumber);
        console.log("next : " + next);
        console.log("prev : " + prev);

    }


    // 페이징 초기화
    $(document).ready(function() {
        paging();
        $("#selectDisNum").val(perPageNum).attr("selected","selected");

    });
    let rowData = [];
    let eqpList="";

    // 데이터 가져오기
    $.ajax({
        url: '/getEqpInfListPaging?page='+currentPage +'&perPageNum=' + perPageNum,
        type: 'get',
        contentType:'application/json',
        dataType:"json",
        // dataType: 'text',
        success: function (data) {
            // alert("성공");
            console.log(data);
            eqpList =  data;
            gridOptions.api.setRowData(eqpList);
        }, error: function (req, status, err) {
            console.log(req);
            alert("오류");
        }

    }).fail(function (jqXHR, textStatus, errorThrown) {
        console.log("에러");
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);

    });


    const columnDefs = [
        { headerName:"장비아이디", field: "eqp_ID", width: 100 },
        { headerName:"장비명", field: "eqp_NM", width: 80 },
        { headerName:"장비분류", field: "eqp_CL_CD_NM", width: 100 },
        { headerName:"장비운용상태", field: "eqp_OP_Stat_CD_NM", width: 140 },
        { headerName:"시리얼 넘버", field: "eqp_SRNO", width: 180 },
        { headerName:"관할본부 조직", field: "jrdt_HDOFC_CD_NM" , width: 130 },
        { headerName:"관할팀 조직",  field: "rdt_TEAM_ORG_CD_NM", width: 130 },
        { headerName:"위도", field: "lat_CODN", width: 110 },
        { headerName:"경도", field: "lng_CODN", width: 110 },
        { headerName:"마스터IP", field: "mst_IP", width: 150 },
        { headerName:"운용담당자 아이디", field: "op_CHRR_ID", width: 120 },
        { headerName:"등록일자", field: "regrt_DT", width: 200 },
        { headerName:"등록자 ID", field: "regrt_ID", width: 100 },
        { headerName:"수정일자", field: "udt_DT", width: 200 },
        { headerName:"수정한사람 ID", field: "udt_ID", width: 130 }
    ];

     rowData = eqpList;

    // let the grid know which columns and what data to use
    const gridOptions = {
        defaultColDef: {
            sortable: true,
            resizable: true
        },
        columnDefs: columnDefs,
        rowData: rowData
    };
    function sizeToFit() {
        gridOptions.api.sizeColumnsToFit({
            defaultMinWidth: 100,
            columnLimits: [{ key: 'eqp_ID', minWidth: 600 }],
        });
    }
    // 그리드 변수선언
    const gridDiv = document.querySelector('#myGrid');

    // setup the grid after the page has finished loading
    document.addEventListener('DOMContentLoaded', () => {
        agGrid.LicenseManager.setLicenseKey("MOBIGEN_MultiApp_1Devs18_October_2020__MTYwMjk3NTYwMDAwMA==e2aa7803e44dfd58ce9fd0b8a1763b8a");

        new agGrid.Grid(gridDiv, gridOptions);
    });

    function selectDisplayPageNum(perPageNum) {
        alert("perPageNum : "+ perPageNum);
        sendPagingInfo(currentPage,perPageNum);
    }

    function sendPagingInfo(currentPage, perPageNum){
        perPageNum = $('#selectDisNum').val();
        alert(currentPage+ " , " +perPageNum);
        pageGroup = Math.ceil(currentPage / pageCount); //지금 내가 있는 페이지 1

        // 페이징 그리기
        lastNumber = pageGroup * pageCount;
        if(lastNumber > totalPage) {
            lastNumber = totalPage;
        }
        firstNumber = lastNumber - (pageCount - 1);


        alert(firstNumber+ " , " +lastNumber);


        $.ajax({
            url: '/getEqpInfListPaging?page='+currentPage +'&perPageNum=' + perPageNum,
            type: 'get',
            contentType:'application/json',
            dataType:"json",
            success: function (data) {

                // alert("성공");
                console.log(data);
                eqpList =  data;

                gridOptions.api.setRowData(eqpList);


            }, error: function (req, status, err) {
                console.log(req);
                alert("오류");
            }

        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("에러");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);

        });
    }

    // select box 관할본부조직코드, 관할팀조직코드
    function selectBoxCategoryChange(jrdt){

        // alert('jrdt : '+jrdt);
        // alert(typeof jrdt); > String
        let jrdtCd_04 = {'플랫폼연구팀':'05','UI솔루션연구팀':'06', 'AI플랫폼연구팀' : '07','AI응용연구팀':'08', '기술기획팀':'09', '운용기술연구팀':'10'};

        let jrdtCd_11 = {'텔코솔루션영업부':'12', '빅데이터솔루션 영업1부': '13', '빅데이터솔루션 영업2부':'14', '컨설팅사업팀':'15', '사업개발팀':'16'};
        let jrdtCd_17 = {'NI개발1팀':'18', 'NI개발2팀':'19'};
        let jrdtCd_21 = {'NX개발1팀':'22', 'NX개발2팀':'23', 'NX개발3팀':'24', 'NX개발4팀':'25'};
        let jrdtCd_26 = {'DP개발팀':'27', 'DX개발1팀':'28', 'DX개발2팀':'29', 'DX개발3팀':'30'};
        let jrdtCd_31 = {'DV개발1팀':'32','DV개발2팀':'33'};
        let jrdtCd_34 = {'OT개발팀':'35', 'OI개발팀':'36', 'OX개발팀':'37'};
        let jrdtCd_39 = {'경영기획팀':'40', '인사총무팀':'41', 'UX팀':'42'};

        // selectbox id
        let target = document.getElementById('rdtTeamOrgCdFilter');
        let result = [];

        // 아무것도 선택하지 않았을때 jrdt 공백, return
        if(jrdt === ''){
            return;
        }
        else if(jrdt === '04') {
             result = jrdtCd_04;
        } else if(jrdt === '11') {
             result = jrdtCd_11;
        } else if(jrdt === '17') {
            result = jrdtCd_17;
        } else if(jrdt === '21') {
            result = jrdtCd_21;
        } else if(jrdt === '26') {
            result = jrdtCd_26;
        } else if(jrdt === '31') {
            result = jrdtCd_31;
        } else if(jrdt === '34') {
            result = jrdtCd_34;
        } else if(jrdt === '39') {
            result = jrdtCd_39;
        }

        target.options.length = 0;

        for(const [key, value] of Object.entries(result)){
            let opt = document.createElement('option');
            opt.value = value;
            opt.innerHTML = key;
            target.appendChild(opt);
            console.log(key + ': ' + value);
        }
    }

    // 조회하기 버튼 클릭시 이벤트
    function applyFilter (){
        // alert("click");
        // let selectEqpNmKey = document.querySelector('#eqpNmfilter > option:checked').innerText;
        let selectEqpNmVal = document.querySelector('#eqpNmfilter > option:checked').value;
        // let selectEqpOpStatKey = document.querySelector('#eqpOpStatFilter > option:checked').innerText;
        let selectEqpOpStatVal = document.querySelector('#eqpOpStatFilter > option:checked').value;
        // let selectJrdtHdofcCdKey = document.querySelector('#jrdtHdofcCdFilter > option:checked').innerText;
        let selectJrdtHdofcCdVal = document.querySelector('#jrdtHdofcCdFilter > option:checked').value;
        // let selectRdtTeamOrgCdKey = document.querySelector('#rdtTeamOrgCdFilter > option:checked').innerText;
        let selectRdtTeamOrgCdVal = document.querySelector('#rdtTeamOrgCdFilter > option:checked').value;

        let filterArr = {eqpName:selectEqpNmVal, eqpOpStat:selectEqpOpStatVal, jrdtHdofcCd:selectJrdtHdofcCdVal, rdtTeamOrgCd:selectRdtTeamOrgCdVal};

        console.log(filterArr);


        // 필터링 된 데이터 가져오기
        $.ajax({
            // url: '/getEqpInfListPaging?page='+currentPage +'&perPageNum=' + perPageNum,
            url: '/getEqpInfListPaging',
            type: 'post',
            contentType:'application/json',
            // dataType:"text",
            data:JSON.stringify(filterArr),
            success: function (data) {
                alert("필터링 성공");
                console.log(data);
                eqpList =  data;
                gridOptions.api.setRowData(eqpList);
            }, error: function (req, status, err) {
                console.log(req);
                alert("오류");
            }

        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("에러");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);

        });

    }
</script>

</html>