<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    const eqpList = [[${eqpList}]];
    /*]]>*/

    //
    let eqpListArr = [];
    eqpList.forEach((el)=>{
        eqpListArr = eqpListArr.concat(el);
    });

    console.log(eqpListArr.EQP_ID);


    const columnDefs = [
        { field: "eqp_ID", width: 100 },
        { field: "eqp_NM", width: 100 },
        { field: "eqp_CL_CD", width: 100 },
        { field: "eqp_OP_STAT_CD", width: 100 },
        { field: "eqp_SRNO", width: 200 },
        { field: "jrdt_HDOFC_CD" , width: 150 },
        { field: "lat_CODN", width: 180 },
        { field: "lng_CODN", width: 180 },
        { field: "mst_IP", width: 180 },
        { field: "op_CHRR_ID", width: 180 },
        { field: "rdt_TEAM_ORG_CD", width: 180 },
        { field: "regrt_DT", width: 200 },
        { field: "regrt_ID", width: 100 },
        { field: "udt_DT", width: 200 },
        { field: "udt_ID", width: 100 }
        ];

    const rowData = eqpList;

    // let the grid know which columns and what data to use
    const gridOptions = {
        defaultColDef: {
            sortable: true,
            resizable: true
        },
        columnDefs: columnDefs,
        rowData: rowData
    };
    function sizeToFit() {
        gridOptions.api.sizeColumnsToFit({
            defaultMinWidth: 100,
            columnLimits: [{ key: 'eqp_ID', minWidth: 600 }],
        });
    }

    // setup the grid after the page has finished loading
    document.addEventListener('DOMContentLoaded', () => {
        const gridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    });

</script>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="width:100%; height: 100%;">
        <h1 style="text-align: center" >장비 테이블 리스트</h1>

        <span th:text="${paging.cri.page}+ '/' + ${paging.lastPage}" style="text-align: left; padding-left: 200px;"/>

        <select th:field="*{displayPageNum}" class="form-select">
            <option th:each="disNum : ${displayPageNum}" th:value="${disNum.selectDisplayPage}" th:text="${disNum.selectDisplayPageName}">페이지 개수</option>
        </select>

        <div id="myGrid" style="width:800px; height: 400px; margin: auto" class="ag-theme-alpine"></div>

        <ul class="paging" style="height: 30px;text-align: center; font-size:20px; padding-top:30px;" th:with="start=${paging.startPage}, end=${paging.endPage}">
            <span><a th:href="@{/index(page=${paging.firstPage})}"/>처음</a></span>

            <span th:if="${paging.prev}">
                <span><a th:href="@{/index(page=${start-1})}"/>이전</a></span>

            </span>
            <span th:each="page:${#numbers.sequence(start,end)}">

                <a th:href="@{/index(page=${page})}" th:text="${page}"></a>
            </span>
            <span th:if="${paging.next && paging.endPage>0}">
                <span><a th:href="@{/index(page=${end+1})}"/>다음</a></span>
            </span>

<!--            <span><a th:href="@{/index(page=230)}"/>맨끝</a></span>-->
            <span><a th:href="@{/index(page=${paging.lastPage})}"/>맨끝</a></span>
        </ul>

    </div>
</body>
</html>