<!DOCTYPE html>
<html lang="ko">
<head>
	<title>IP-EMS</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
	<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham-dark.css">
	<link href="assets/css/common.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout_top.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="app">
	<header>
		<h1><span>SK Telecom</span></h1>
		<h2><span>IP-EMS</span></h2><!-- 2021-09-03 MOD : IP-EMS -->
		<nav class="mu-gnb fl">
			<!-- Depth1 -->
			<ul class="mu-h-menu fl">
				<li><a href="#"><span>HOME</span></a></li>
				<li class="active"><a href="#"><span>구성관리</span></a>
					<ul class="mu-list">
						<li><a href="#"><span>신규장비 관리</span></a></li>
						<li><a href="#"><span>운용장비 관리</span></a></li>
						<li><a href="#"><span>포트 정보 조회</span></a></li>
						<li><a href="#"><span>IP 검색</span></a></li>
						<li><a href="#"><span>Config 백업 및 조회</span></a></li>
						<li><a href="#"><span>RAS/RRS 현황 관리</span></a></li>
						<li><a href="#"><span>선번장 관리</span></a></li>
						<li><a href="#"><span>5G IBN 물자 정보</span></a></li>
					</ul>
				</li>
				<li><a href="#"><span>성능관리</span></a>
					<ul class="mu-list">
						<li><a href="#"><span>실시간 성능 감시</span></a></li>
						<li><a href="#"><span>성능 감시</span></a></li>
						<li><a href="#"><span>종합 성능 통계 조회</span></a></li>
						<li><a href="#"><span>장비 성능 통계(1분, 5분..)</span></a></li>
						<li><a href="#"><span>포트 성능 통계(1분, 5분…)</span></a></li>
						<li><a href="#"><span>광레벨 성능 통계</span></a></li>
						<li><a href="#"><span>일/월별 성능 통계</span></a></li>
						<li><a href="#"><span>트래픽 그룹 통계</span></a></li>
						<li><a href="#"><span>트래픽 비교 분석</span></a></li>
					</ul>
				</li>
				<li><a href="#"><span>장애관리</span></a>
					<ul class="mu-list">
						<li><a href="#"><span>실시간 장애 감시</span></a></li>
						<li><a href="#"><span>장애 감시</span></a></li>
						<li><a href="#"><span>실시간 Syslog 감시</span></a></li>
						<li><a href="#"><span>장애 이력 조회</span></a></li>
						<li><a href="#"><span>SysLog 이력 조회</span></a></li>
						<li><a href="#"><span>시간대별 장애 통계</span></a></li>
						<li><a href="#"><span>다발 장애 통계</span></a></li>
						<li><a href="#"><span>장애설정</span></a>
							<ul class="mu-list">
								<li><a href="#"><span>장애설정</span></a></li>
								<li><a href="#"><span>임계치 알람</span></a></li>
							</ul>
                        </li>
					</ul>
				</li>
				<li><a href="#"><span>시스템관리</span></a>
					<ul class="mu-list">
						<li><a href="#"><span>코드관리</span><i class="mu-icon arrow"></i></a>
							<ul class="mu-list">
								<li><a href="#"><span>전송국사 관리</span></a></li>
								<li><a href="#"><span>운용국사 조회</span></a></li>
								<li><a href="#"><span>망정보 관리</span></a></li>
								<li><a href="#"><span>장비유형 관리</span></a></li>
								<li><a href="#"><span>포트 속도 관리</span></a></li>
								<li><a href="#"><span>일반코드 관리</span></a></li>
								<li><a href="#"><span>제조사&모델 관리</span></a></li>
							</ul>
						</li>
						<li><a href="#"><span>사용자관리</span><i class="mu-icon arrow"></i></a>
							<ul class="mu-list">
								<li><a href="#"><span>화면권한 설정</span></a></li>
								<li><a href="#"><span>사용자 관리</span></a></li>
								<li><a href="#"><span>사용자 TT 관리</span></a></li>
								<li><a href="#"><span>사용자 TT 발송 이력</span></a></li>
								<li><a href="#"><span>사용자 권한 요청/승인 관리</span></a></li>
								<li><a href="#"><span>서버관리</span></a></li>
								<li><a href="#"><span>수집서버 관리</span></a></li>
							</ul>
						</li>
						<li><a href="#"><span>서버관리</span><i class="mu-icon arrow"></i></a>
							<ul class="mu-list">
								<li><a href="#"><span>수집서버 관리</span></a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#"><span>플랫폼관리</span></a>
					<ul class="mu-list">
						<li><a href="#"><span>MIB 관리</span></a></li>
						<li><a href="#"><span>MIB 템플릿</span></a></li>
						<li><a href="#"><span>구성 템플릿 관리</span></a></li>
						<li><a href="#"><span>성능 템플릿 관리</span></a></li>
					</ul>
				</li>
			</ul>
			<div class="mu-top-menu fr">
				<div class="session">
					<i class="mu-icon-img clock"></i>
					<span>세션 유지 시간 : 60분</span>
					<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img refresh"></i></button>
				</div>
				<div class="user-info">
					<i class="mu-icon-img user"></i>
					<span>MG_2010님</span>
				</div>
				<div class="">
					<button type="button" class="mu-btn mu-btn-icon mu-btn-bg-non"><i class="mu-icon-img logout"></i></button>
				</div>
			</div>
		</nav>
	</header>
	<div class="mu-container">
		<section>
			<div class="mu-content-top">
				<h3 class="mu-title"><i class="mu-icon-img list"></i><span>Config 백업 및 조회</span></h3>
			</div>
			<div class="mu-content">
				<!-- mu-search-group -->
				<div class="mu-search-group">
					<div class="mu-search-item">
						<table>
							<colgroup>
								<col style="width:70px;">
								<col style="width:250px;">
								<col style="width:90px;">
								<col style="width:250px;">
								<col style="width:90px;">
								<col style="width:250px;">
								<col style="width:90px;">
								<col style="width:250px;">
							</colgroup>
							<tbody>
								<tr>
									<th><label>검색기간</label></th>
									<td>
										<div class="mu-item-group">
											<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
											<span>~</span>
											<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
										</div>
									</td>
									<th><label>장비명</label></th>
									<td>
										<input type="text" class="mu-input">
									</td>
									<th><label>장비IP</label></th>
									<td>
										<input type="text" class="mu-input">
									</td>
									<th></th>
									<td></td>
								</tr>
								<tr>
									<th><label>구분</label></th>
									<td>
										<div class="mu-hgroup">
											<div class="mu-radio">
												<input type="radio" id="r1" name="radio" checked="checked">
												<label for="r1">Config</label>
											</div>
											<div class="mu-radio">
												<input type="radio" id="r2" name="radio">
												<label for="r2">Tftp Config</label>
											</div>
										</div>
									</td>
									<th><label>국사</label></th>
									<td>
										<div class="mu-selectbox mu-multibox">
											<button class="mu-value">mu-selectbox + mu-multibox</button>
											<ul class="mu-list">
												<li value="1">
													<div class="mu-checkbox">
														<input type="checkbox" id="select-ckb1">
														<label for="select-ckb1">list option1</label>
													</div>
												</li>
												<li value="2">
													<div class="mu-checkbox">
														<input type="checkbox" id="select-ckb2">
														<label for="select-ckb2">list option2</label>
													</div>
												</li>
												<li value="3">
													<div class="mu-checkbox">
														<input type="checkbox" id="select-ckb3">
														<label for="select-ckb3">list option3</label>
													</div>
												</li>
											</ul>
										</div>
									</td>
									<th><label>망구분</label></th>
									<td>
										<div class="mu-input-search">
											<input type="text" placeholder="search..." class="mu-input">
											<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non">
												<i class="mu-icon-img search"></i>
											</button>
										</div>
									</td>
									<th><label>장비유형</label></th>
									<td>
										<div class="mu-input-search">
											<input type="text" placeholder="search..." class="mu-input">
											<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non">
												<i class="mu-icon-img search"></i>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mu-search-btn">
						<button type="button" class="mu-btn mu-btn-icon mu-btn-point"><i class="mu-icon-img search"></i><span>조회</span></button>
					</div>
				</div>
				<!-- //mu-search-group -->

				<div class="mu-grid-top">
					<div class="mu-item-group fr">
						<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img list"></i><span>파일보기</span></button>
						<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img mmi"></i><span>파일비교</span></button>
						<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img download"></i><span>다운로드</span></button>
					</div>
				</div>
				<div class="mu-tab-body">
					<div class="mu-tab-cont">
						<div class="ag-grid-wrap">
							<div id="myGrid1" class="ag-theme-balham-dark" style="width:100%;height:100%;"></div>
						</div>
						<div class="pagination-wrap">
							<p class="total-num">총 : 1,200건(1/200건)</p>
							<div class="mu-pagination">
								<button type="button" class="mu-first" disabled="disabled"><span></span></button>
								<button type="button" class="mu-prev" disabled="disabled"><span></span></button>
								<ul>
									<li><a href="">1</a></li>
									<li><a href="">2</a></li>
									<li><a href="">3</a></li> 
									<li><a href="">4</a></li>
									<li><a href="">5</a></li>
									<li><a href="">6</a></li>
									<li class="active"><a href="">7777</a></li>
									<li><a href="">8</a></li>
									<li><a href="">9</a></li>
								</ul>
								<button type="button" class="mu-next"><span></span></button>
								<button type="button" class="mu-last"><span></span></button>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

	<script src="https://unpkg.com/vue@2.6.10"></script><!-- 20200814 MOD : vue@2.3.3 ==> @2.6.10 -->
	<script src="https://unpkg.com/ag-grid-community@21.0.1/dist/ag-grid-community.min.noStyle.js"></script><!-- 20200814 MOD : ver @23.2.1 ==> @21.0.1 -->
	<script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@2.12.0/lib/index.min.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery-ui.js"></script>
	<script type="text/javascript"> 
		//달력+시간 샘플 2.12.0
		Vue.use(DatePicker.default);
			
		new Vue({
			
			el: '#app',
			data: {
			prjName: 'TMS',
			stdDate:null,
			lang: {
					days: ['일', '월', '화', '수', '목', '금', '토'],
					months: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
					placeholder: {
					date: 'Select Date',
					dateRange: 'Select Date Range'
					}
				},
			time:'',
			timePickerOptions:{
				start: '00',
				step: '00',
				end: '00'
			}
			},
			
			beforeMount(){
			
				
			},
			mounted() {
				this.stdDate  = Date.now();
			},
			

		})

		//ag-grid 개발참고용 샘플코드1
		// specify the columns
		var columnDefs = [			
			{headerName: "테스트용 그리드", field: "cl1",width: 200, unSortIcon: true},
			{headerName: "테스트용 그리드", field: "cl2", width: 150, unSortIcon: true},
			{headerName: "테스트용 그리드2", field: "cl3", width: 200, unSortIcon: true},
			{headerName: "테스트용 그리드3", field: "cl4", width: 150, unSortIcon: true},
			{headerName: "테스트용 그리드4", field: "cl5", width: 150, unSortIcon: true},
			{headerName: "테스트용 그리드5", field: "cl6", width: 150, unSortIcon: true},
			{headerName: "테스트용 그리드6", field: "cl7", width: 150, unSortIcon: true},
			{headerName: "샘플코드", field: "cl8", width: 500, unSortIcon: true}

		];

		// specify the data
		var rowData = [
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"}, 			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "강남Access Infra", cl5: "경남본부", cl6: "SKB동작운영팀", cl7: "성빈센트병원 0000", cl8: "10E37C-10E3C70000", cl9: "WiFi-AP-IGDW2", cl10: "SK텔레시스", cl11: "A00017", cl12: "REBOOT ALARM", cl13: "MINOR"}
		];
  
		// let the grid know which columns and what data to use
		var gridOptions = {
			defaultColDef: {
			sortable: true
			},
			columnDefs: columnDefs,
			rowData: rowData,
			rowSelection: 'single'
		};

		// lookup the container we want the Grid to use
		var eGridDiv = document.querySelector('#myGrid1');

		// create the grid passing in the div to use together with the columns & data we want to use
		new agGrid.Grid(eGridDiv, gridOptions);
	</script>

</body>
</html>