<!DOCTYPE html>
<html lang="ko">
<head>
	<title>FORM GUIDE - IP-EMS</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link href="assets/ag-grid/ag-grid.css" rel="stylesheet" type="text/css">
	<link href="assets/ag-grid/ag-theme-balham-dark.css" rel="stylesheet" type="text/css">
	<link href="guide/css/guide.css" rel="stylesheet" type="text/css"><!-- guide -->
	<link href="assets/css/common.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout_top.css" rel="stylesheet" type="text/css">
	<link href="assets/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>		
<div id="app">
	<div id="guide-wrap2">
		<h1>IP-EMS FORM GUIDE</h1>
		<!-- guide-container -->			
		<div class="guide-container">
			<div class="guide-area">
				<div class="mu-row">
					<div class="mu-col mu-col-4">
						<p class="guide-info">기본 input : mu-input + size (*/height:26px)</p>						
						<input type="text" class="mu-input" value="mu-input 기본"> <br><br>
						<input type="text" class="mu-input tr" value="가격정보나올때 우측정렬 .tr"> <br><br>
						<input type="text" class="mu-input" disabled="disabled" value="disabled"> <br><br>
						<input type="text" class="mu-input" readonly="readonly" value="readonly">
					</div>
					<div class="mu-col mu-col-4">
						<p class="guide-info">검색용 input : mu-input-search > .mu-input + button</p>
						<div class="mu-input-search">
							<input type="text" placeholder="search..." class="mu-input"> 
							<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non"><i class="mu-icon-img search"></i></button>
						</div>

						<p class="guide-info">고정값 검색용 input : mu-input-search + w(사이즈) > mu-input + button</p>
						<div class="mu-input-search w300">
							<input type="text" placeholder="search..." class="mu-input"> 
							<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non"><i class="mu-icon-img search"></i></button>
						</div>
						
						<p class="guide-info">라벨이 있는 검색용 input : mu-input-search > label + mu-input + button</p>
						<div class="mu-input-search">
							<label>label</label>
							<input type="text" class="mu-input" placeholder="search...">
							<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non"><i class="mu-icon-img search"></i></button>
						</div>
					</div>
					<div class="mu-col mu-col-4">

						<p class="guide-info">textarea.mu-area + size (*/min-height:60px)</p>
						<textarea placeholder="최대 200자 까지 입력 가능 합니다." class="mu-area"></textarea><br><br>
						<textarea placeholder="최대 200자 까지 입력 가능 합니다." class="mu-area" disabled="disabled">disabled</textarea><br><br>
						<textarea placeholder="최대 200자 까지 입력 가능 합니다." class="mu-area" readonly="readonly">readonly</textarea>

					</div>
				</div>

				<hr>

                <div class="mu-row">
					<div class="mu-col mu-col-6">

						<p class="guide-info">input.mu-checkbox + label  / 단독으로 쓰일경우 label 에 텍스트 삭제 (2020년 empty 타입 추가)</p>
						<div class="mu-checkbox">
							<input type="checkbox" id="ckb1">
							<label for="ckb1">mu-checkbox</label>
						</div>
						<div class="mu-checkbox">
							<input type="checkbox" id="ckb2" checked="checked">
							<label for="ckb2">checked</label>
						</div>
						<div class="mu-checkbox">
							<input type="checkbox" id="ckb3" disabled="disabled">
							<label for="ckb3">disabled</label>
						</div>
						<div class="mu-checkbox">
							<input type="checkbox" id="ckb3" checked="checked" disabled="disabled">
							<label for="ckb3">checked disabled</label>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
						empty : 
						<div class="mu-checkbox">
							<input type="checkbox" id="ckb4">
							<label for="ckb4"></label>
						</div>

					</div>
					<div class="mu-col mu-col-6">

						<p class="guide-info">input.mu-radio  / 단독으로 쓰일경우 label 에 텍스트 삭제 (2020년 empty 타입 추가)</p>
						<div class="mu-radio">
							<input type="radio" id="r1" name="radio-test">
							<label for="r1">mu-radio</label>
						</div>				
						<div class="mu-radio">
							<input type="radio" id="r2" name="radio-test" checked="checked">
							<label for="r2">checked</label>
						</div>			
						<div class="mu-radio">
							<input type="radio" id="r3" name="radio-test" disabled="disabled">
							<label for="r3">disabled</label>
						</div>			
						<div class="mu-radio">
							<input type="radio" id="r4" name="radio-test2" checked="checked" disabled="disabled">
							<label for="r4">checked disabled</label>
						</div> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
						empty : 	
						<div class="mu-radio">
							<input type="radio" id="r5" name="radio-test3">
							<label for="r5"></label>
						</div>

					</div>
				</div>

				<hr>

				<div class="mu-row">
					<div class="mu-col mu-col-6">
						
						<p class="guide-info">vue2-datepicker @2.12.0 : date ~ date</p>
						<div class="mu-item-group">
							<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
							<span>~</span>
							<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
						</div>

					</div>
					<div class="mu-col mu-col-6">

						<p class="guide-info">vue2-datepicker @2.12.0 : date + time ~ date + time</p>
						<div class="mu-item-group">
							<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
							<date-picker v-model="time" type="time" class="mu-timepicker" format="HH:mm:ss" placeholder="Select Time" :time-picker-options="timePickerOptions"></date-picker>
							<span>~</span>
							<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
							<date-picker v-model="time" type="time" class="mu-timepicker" format="HH:mm:ss" placeholder="Select Time" :time-picker-options="timePickerOptions"></date-picker>
						</div>

					</div>
				</div>
				
				<hr>

				<div class="mu-row">
					<div class="mu-col mu-col-4">                
						
						<p class="guide-info">select.mu-selectbox + width(*)</p>
						<div style="height:130px">
							<div class="mu-selectbox">
								<button class="mu-value">mu-selectbox 기본</button> 
								<ul class="mu-list">
									<li value="1">list option1</li> 
									<li value="2">list option2</li> 
								</ul>
							</div>
							<div class="mu-selectbox disabled">
								<button class="mu-value">mu-selectbox disabled</button> 
								<ul class="mu-list">
									<li value="1">list option1</li> 
									<li value="2">list option2</li> 
								</ul>
							</div>									
							<div class="mu-selectbox on">
								<button class="mu-value">mu-selectbox on</button> 
								<ul class="mu-list">
									<li value="1">list option1</li> 
									<li value="2" class="active">active</li>  
									<li value="2">list option3</li> 
								</ul>
							</div>	
						</div>

					</div>
					<div class="mu-col mu-col-4">

						<p class="guide-info">small 타입 select.mu-selectbox.mu-select-sm + width(*) (Grid 내부용 2020년 타입 추가)</p>
						<div style="height:130px">							
							<div class="mu-selectbox mu-select-sm">
								<button class="mu-value">mu-selectbox mu-select-sm</button> 
								<ul class="mu-list">
									<li value="1">list option1</li> 
									<li value="2" class="active">active</li>  
									<li value="2">list option3</li> 
								</ul>
							</div>						
							<div class="mu-selectbox mu-select-sm on">
								<button class="mu-value">mu-selectbox mu-select-sm on</button> 
								<ul class="mu-list">
									<li value="1">list option1</li> 
									<li value="2" class="active">active</li>  
									<li value="2">list option3</li> 
								</ul>
							</div>
						</div>

					</div>
					<div class="mu-col mu-col-4">

						<p class="guide-info">select.mu-selectbox.mu-multibox + width(*)</p>
						<div style="height:130px">	
							<div class="mu-selectbox mu-multibox on">
								<button class="mu-value">mu-selectbox + mu-multibox</button>
								<ul class="mu-list">
									<li value="1">
										<div class="mu-checkbox">
											<input type="checkbox" id="select-ckb1">
											<label for="select-ckb1">list option1</label>
										</div>
									</li>
									<li value="2">
										<div class="mu-checkbox">
											<input type="checkbox" id="select-ckb2">
											<label for="select-ckb2">list option2</label>
										</div>
									</li>
									<li value="3">
										<div class="mu-checkbox">
											<input type="checkbox" id="select-ckb3">
											<label for="select-ckb3">list option3</label>
										</div>
									</li>
								</ul>
							</div>	
						</div>

					</div>
				</div>

				<hr>
               

                <p class="guide-info">기본 검색조건영역1 mu-search-group > mu-search-item(LEFT) + mu-search-btn(RIGHT - BOTTOM)</p>
				<div class="mu-search-group" style="border:1px dashed red"><!-- style은 확인용 영역 -->
					<div class="mu-search-item">
						<table>
							<tbody>
								<tr>
									<th><label>알람유지기간</label></th>
									<td>
										<div class="mu-selectbox">
											<button class="mu-value">list default</button>
											<ul class="mu-list">
												<li value="1">list option1</li>
												<li value="2">list option2</li>
												<li value="3">list option3</li>
											</ul>
										</div>
									</td>
									<th><label>알람코드</label></th>
									<td>
										<input type="text" class="mu-input">
									</td>
									<th><label>장비명</label></th>
									<td>
										<input type="text" class="mu-input">
									</td>
									<th><label>제조사</label></th>
									<td>
										<div class="mu-selectbox">
											<button class="mu-value">list default</button>
											<ul class="mu-list">
												<li value="1">list option1</li>
												<li value="2">list option2</li>
												<li value="3">list option3</li>
											</ul>
										</div>
									</td>
									<th><label>장비유형</label></th>
									<td>
										<div class="mu-item-group">
											<div class="mu-selectbox">
												<button class="mu-value">list default</button>
												<ul class="mu-list">
													<li value="1">list option1</li>
													<li value="2">list option2</li>
													<li value="3">list option3</li>
												</ul>
											</div>
											<div class="mu-selectbox">
												<button class="mu-value">list default</button>
												<ul class="mu-list">
													<li value="1">list option1</li>
													<li value="2">list option2</li>
													<li value="3">list option3</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th><label>조직</label></th>
									<td colspan="3">
										<div class="mu-input-search">
											<input type="text" class="mu-input" placeholder="search...">
											<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non"><i class="mu-icon-img search"></i></button>
										</div>
									</td>
									<th><label>MAC</label></th>
									<td>
										<input type="text" class="mu-input">
									</td>
									<th></th>
									<td colspan="3"></td>
								</tr>
								<tr>
									<th><label>알람등급</label></th>
									<td colspan="5">
										<div class="mu-hgroup">
											<div class="mu-checkbox">
												<input type="checkbox" id="ckb11">
												<label for="ckb11">OOS</label>
											</div>
											<div class="mu-checkbox">
												<input type="checkbox" id="ckb12" checked>
												<label for="ckb12">Critical</label>
											</div>
											<div class="mu-checkbox">
												<input type="checkbox" id="ckb13">
												<label for="ckb13">Major</label>
											</div>
											<div class="mu-checkbox">
												<input type="checkbox" id="ckb14">
												<label for="ckb14">Normal</label>
											</div>
											<div class="mu-checkbox">
												<input type="checkbox" id="ckb15">
												<label for="ckb15">미운용</label>
											</div>
										</div>
									</td>
									<th><label>발생일</label></th>
									<td colspan="3">
										<div class="mu-item-group">
											<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
											<span>~</span>
											<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mu-search-btn">
						<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img refresh"></i><span>초기화</span></button>
						<button type="button" class="mu-btn mu-btn-point mu-btn-icon"><i class="mu-icon-img search"></i><span>조회</span></button>
					</div>
				</div>

				<p class="guide-info">탭상속 기본 검색조건영역2 mu-search-group > mu-search-item(LEFT) + mu-search-btn(LEFT) + mu-search-info(RIGHT)</p>
				<div class="mu-tab-body">
					<div class="mu-tab-cont">
						<div class="mu-search-group" style="border:1px dashed red"><!-- style은 확인용 영역 -->
							<div class="mu-search-item">
								<table>
									<tbody>
										<tr>
											<th><label>조직</label></th>
											<td>
												<div class="mu-input-search w300">
													<input type="text" class="mu-input" placeholder="search...">
													<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non"><i class="mu-icon-img search"></i></button>
												</div>
											</td>
											<td>
												<div class="mu-item-group">
													<date-picker v-model="stdDate" :lang="lang" :clearable=false></date-picker>
													<date-picker v-model="time" type="time" class="mu-timepicker" format="HH:mm:ss" placeholder="Select Time" :time-picker-options="timePickerOptions"></date-picker>
												</div>
											</td>
											<td>
												<div class="mu-checkbox">
													<input type="checkbox" id="ckb21">
													<label for="ckb21">자동갱신</label>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="mu-search-btn">
								<button type="button" class="mu-btn mu-btn-point mu-btn-icon"><i class="mu-icon-img search"></i><span>조회</span></button>
							</div>
							<span class="mu-search-info">＊ OOS 알람발생률 : ONS(17%) / SKB(4%)</span>
						</div>
					</div>
				</div>

				<p class="guide-info">배경없는 기본 검색조건영역3 mu-search-group + mu-search-group-none > mu-search-item(LEFT) + mu-search-btn(LEFT) + mu-item-group.fr(RIGHT)</p>
				<div class="mu-search-group mu-search-group-none" style="border:1px dashed red"><!-- style은 확인용 영역 -->
					<div class="mu-search-item">
						<table>
							<tbody>
								<tr>
									<th><label>본부</label></th>
									<td>
										<div class="mu-selectbox">
											<button class="mu-value">list default</button>
											<ul class="mu-list">
												<li value="1">list option1</li>
												<li value="2">list option2</li>
												<li value="3">list option3</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mu-search-btn">
						<button type="button" class="mu-btn mu-btn-point mu-btn-icon"><i class="mu-icon-img search"></i><span>조회</span></button>
					</div>
					<div class="mu-item-group fr">
						<button type="button" class="mu-btn mu-btn-icon mu-btn-green"><i class="mu-icon-img download"></i><span>엑셀</span></button>
					</div>
				</div>

                <p class="guide-info">table.mu-formbox(입력폼)</p>

				<table class="mu-formbox" style="border:1px dashed red"><!-- style은 확인용 영역 -->
					<colgroup>
						<col style="width:350px;">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th>오른쪽 정렬 th</th>
							<td>
								왼쪽 정렬td
							</td>
						</tr>
						<tr>
							<th><label>English 한글테스트</label></th>
							<td><span>(CAM) 튼튼병원 1F 접수실_ML</span></td>
						</tr>
						<tr>
							<th><label>한글테스트</label></th>
							<td><span>(CAM) 튼튼병원 1F 접수실_ML</span></td>
						</tr>
						<tr>
							<th><label>한글테스트</label></th>
							<td>
								<input type="input" class="mu-input" value="한글테스트">
							</td>
						</tr>
						<tr>
							<th><label class="necessary">*필수항목타입</label></th>
							<td>
								<input type="input" class="mu-input" value="필수항목 necessary">
							</td>
						</tr>
						
						<tr>
							<th>mu-input-search</th>
							<td>
								<div class="mu-input-search">
									<input type="text" class="mu-input" placeholder="search...">
									<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only mu-btn-bg-non"><i class="mu-icon-img search"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<th>mu-input</th>
							<td>
								<input type="input" class="mu-input">
							</td>
						</tr>
						<tr>
							<th>mu-item-group > mu-input + span</th>
							<td>
								<div class="mu-item-group">
									<input type="input" class="mu-input">
									<span>"-" 제외</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>mu-item-group > input + button</th>
							<td>
								<div class="mu-item-group">
									<input type="text" class="mu-input"> 
									<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img search"></i><span>주소검색</span></button>
								</div>
							</td>
						</tr>
						<tr>
							<th>mu-item-group > input + button</th>
							<td>
								<div class="mu-item-group">
									<input type="input" class="mu-input"> 
									<input type="input" class="mu-input"> 
									<input type="input" class="mu-input"> 
									<button type="button" class="mu-btn">button</button>
								</div>
							</td>
						</tr>
						<tr>
							<th>mu-item-group.fx-none > input + span.txt-info <br>input에 특정사이즈를 줄경우에는 fx-none 추가하고 input width를 지정 <br> (2020년 fx-none 타입 추가)</th>
							<td>
								<div class="mu-item-group fx-none">
									<input type="input" class="mu-input w170" value="mu-input w170"> 
									<span class="txt-info">span.txt-info 들어갑니다.</span>
								</div>
							</td>
						</tr>						
						<tr>
							<th>mu-selectbox</th>
							<td>
								<div class="mu-selectbox">
									<button class="mu-value">list default</button>
									<ul class="mu-list">
										<li value="1">list option1</li>
										<li value="2">list option2</li>
										<li value="3">list option3</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<th>버튼타입 체크박스 btn-check-item > mu-checkbox<br> (2020년 타입 추가)</th>
							<td>
								<div class="btn-check-item">
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb00" checked="checked">
										<label for="ckb00">00</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb01" checked="checked">
										<label for="ckb01">01</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb02">
										<label for="ckb02">02</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb03">
										<label for="ckb03">03</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb04">
										<label for="ckb04">04</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb05">
										<label for="ckb05">05</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb06">
										<label for="ckb06">06</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb07">
										<label for="ckb07">07</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb08">
										<label for="ckb08">08</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb09">
										<label for="ckb09">09</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb10">
										<label for="ckb10">10</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb11">
										<label for="ckb11">11</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb12">
										<label for="ckb12">12</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb13">
										<label for="ckb13">13</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb14">
										<label for="ckb14">14</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb15">
										<label for="ckb15">15</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb16">
										<label for="ckb16">16</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb17">
										<label for="ckb17">17</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb18">
										<label for="ckb18">18</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb19">
										<label for="ckb19">19</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb20">
										<label for="ckb20">20</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb21">
										<label for="ckb21">21</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb22">
										<label for="ckb22">22</label>
									</div>
									<div class="mu-checkbox">
										<input type="checkbox" id="ckb23">
										<label for="ckb23">23</label>
									</div>
								</div>

							</td>
						</tr>
						<tr>
							<th>file-attach-group > input + button 파일찾기(버튼스타일) (2020년 추가)</th>
							<td>
								<!-- 버튼타입 첨부파일 -->
								<div class="file-attach-group">
									<input type="text" id="fileName" readonly="readonly" class="mu-input"> 
									<div class="mu-file-btn">
										<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img upload"></i><span>파일찾기</span></button> 
										<input type="file" onchange="javascript: document.getElementById('fileName').value = this.value" class="mu-btn-hide">
									</div> 
									<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img delete"></i><span>삭제</span></button>
								</div>
								<!-- //버튼타입 첨부파일 -->
							</td>
						</tr>
						<tr>
							<th>input-file-attach-group > input + button 파일찾기(폼스타일) (2020년 추가)</th>
							<td>
								<!-- input타입 첨부파일 -->
								<div class="input-file-attach-group">
									<input type="text" id="fileName2" readonly="readonly" class="mu-input"> 
									<div class="mu-file-btn">
										<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img upload"></i><span>파일찾기</span></button> 
										<input type="file" onchange="javascript: document.getElementById('fileName2').value = this.value" class="mu-btn-hide">
									</div> 
									<button type="button" class="mu-btn">전송</button>		
								</div>
								<!-- //input타입 첨부파일 -->
							</td>
						</tr>
						<tr>
							<th>td에 추가 class="vt"</th>
							<td class="vt">
								<span>vertical-align:top;  <br> L2스위치L2스위치 등록화면 TEST L2스위치 등록화면<br> TEST L2스위치L2스위치 등록화면 TEST<br> L2스위치 등록화면 TEST L2스위치 등록화면 TEST L2스위치 등록화면 TEST L2스위치 등록화면 TESTL2스위치 등록화면 TESTL2스위치 등록화면 TEST</span>
							</td>
						</tr>
					</tbody>
				</table>

                
                <p class="guide-info">agGrid 21.0.1 sample (ag-theme-balham-dark) (2020년 ver 변경 샘플 추가)</p>
                <div class="ag-grid-wrap" style="height:160px">
                    <div id="myGrid1" class="ag-theme-balham-dark" style="width:100%;height:100%;"></div>
				</div>
				<p class="guide-info">agGrid 21.0.1 sample (ag-theme-balham-dark) (2020년 ver 변경 샘플 추가)</p>
				<div class="mu-row">
					<div class="mu-col mu-col-4">
						<div class="ag-grid-wrap" style="height:160px">
							<div id="myGrid2" class="ag-theme-balham-dark" style="width:100%;height:100%;"></div>
						</div>
					</div>
					<div class="mu-col mu-col-4">						
						<div class="ag-grid-wrap" style="height:160px">
							<div id="myGrid3" class="ag-theme-balham-dark" style="width:100%;height:100%;"></div>
						</div>
					</div>
					<div class="mu-col mu-col-4">						
						<div class="ag-grid-wrap" style="height:160px">
							<div id="myGrid4" class="ag-theme-balham-dark" style="width:100%;height:100%;"></div>
						</div>
					</div>
				</div>
				<div class="mu-row" style="background:#23262b;">
					<div class="mu-col mu-col-6">
						<p class="guide-info">mu-dialog-info : 안내리스트 기본 border/background type</p>
						<div class="mu-dialog-info">
							<ul>
								<li>블릿 li</li> 
								<li> li 패스워드는 12자리 이상 16자리 이하로 입력해 주세요.</li> 
								<li> li 허용 특수 문자 : ! , _ , -</li>
							</ul>
						</div>	
					</div>
					<div class="mu-col mu-col-6">
						<p class="guide-info">mu-dialog-info.box-none : 안내리스트 기본 border/background none type (2020년 box-none 타입 추가)</p>
						<div class="mu-dialog-info box-none">
							<ul>
								<li>블릿 li</li> 
								<li> li 패스워드는 12자리 이상 16자리 이하로 입력해 주세요.</li> 
								<li> li 허용 특수 문자 : ! , _ , -</li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="mu-row" style="background:#23262b;">
					<div class="mu-col mu-col-4">
						<p class="guide-info">블릿 list type - mu-dialog-info > dl > dt/dd</p>
						<div class="mu-dialog-info">
							<dl>
								<dt>블릿 dt <span class="txt-white">span.txt-white</span></dt> 
								<dd>dd 테스트 텍스트입니다.</dd> 
								<dd>dd 테스트 텍스트입니다.</dd>
							</dl>
							<dl>
								<dt>품질저조 국소 자동 리셋은 하루에 2회 수행됩니다.</dt> 
								<dd>오전 10시, 오후  4시</dd>
							</dl>
						</div>
					</div>
					<div class="mu-col mu-col-4">
						<p class="guide-info">list type - ul > li</p>
						<div class="mu-dialog-info">
							<ul>
								<li>블릿 li</li> 
								<li> li 패스워드는 12자리 이상 16자리 이하로 입력해 주세요.</li> 
								<li> li 허용 특수 문자 : ! , _ , -</li>
							</ul>
						</div>	
					</div>					
					<div class="mu-col mu-col-4">	
						<p class="guide-info">list type - item-info > info-title + span  (2020년 추가)</p>									
						<ul class="item-info">
							<li><span class="info-title">Max Account Count</span>일일동안 15분 통계로 수집한 Max Account Count 중 최대값입니다.</li>
							<li><span class="info-title">DL Throughput(kbps)</span>일일동안 AP전체 Download Throughput의 일 평균 값입니다.</li>
							<li><span class="info-title">UL Throughput(kbps)</span>일일동안 AP전체 Upload Throughput의 일 평균 값입니다.</li>
							<li><span class="info-title">Account Count</span>일일동안 15분 통계로 수집한 Account Count의 총합입니다.</li>
							<li><span class="info-title">Max Account Count</span>일일동안 15분 통계로 수집한 Max Account Count 중 최대값입니다.</li>
						</ul>
					</div>
				</div>
				
               


				<p class="guide-info">알람상태 list type - alarm-stat > ul > li</p>
				<div class="alarm-stat">
					<ul>
						<li class="oos"><span class="mu-icon stat"></span><span class="num">OOS : 999999</span></li> 
						<li class="critical"><span class="mu-icon stat"></span><span class="num">Critical : 999999</span></li> 
						<li class="major"><span class="mu-icon stat"></span><span class="num">Major : 999999</span></li> 
						<li class="normal"><span class="mu-icon stat"></span><span class="num">Normal : 999999</span></li>
					</ul>
				</div>

				<p class="guide-info">챠트통계 list type - rate-box > ul.rate-list > li > dl (2020년 추가)</p>
				<div style="position:relative;height:60px;border:1px dashed red;"><!-- style은 확인용 영역 -->
					<div class="rate-box">
						<ul class="rate-list">
							<li>
								<strong>전월</strong>
								<dl>
									<dt>KPI가동율 :</dt>
									<dd>64.42%</dd>
									<dt>고객인지품질 가동율 :</dt>
									<dd>68.2%</dd>
								</dl>
							</li>
							<li>
								<strong>당월</strong>
								<dl>
									<dt>KPI가동율 :</dt>
									<dd>63.84%</dd>
									<dt>고객인지품질 가동율 :</dt>
									<dd>68.1%</dd>
								</dl>
							</li>
							<li>
								<strong>Gap</strong>
								<dl>
									<dt>KPI가동율 :</dt>
									<dd>-0.58%</dd>
									<dt>고객인지품질 가동율 :</dt>
									<dd>0.05%</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>

                <p class="guide-info">챠트관련 list type - chart-remark > ul > li</p>
                <div class="chart-remark">
                    <ul>
                        <li class="total"><span>total</span><span class="num">num</span></li>
                        <li class="purple"><span class="mu-icon stat"></span><span>purple</span><span class="num">num</span></li>
                        <li class="red"><span class="mu-icon stat"></span><span>red</span><span class="num">num</span></li>
                        <li class="orange"><span class="mu-icon stat"></span><span>orange</span><span class="num">num</span></li>
                        <li class="yellow"><span class="mu-icon stat"></span><span>yellow</span><span class="num">num</span></li>
                        <li class="green"><span class="mu-icon stat"></span><span>green</span><span class="num">num</span></li>
                        <li class="skyblue"><span class="mu-icon stat"></span><span>skyblue</span><span class="num">num</span></li>
                        <li class="blue"><span class="mu-icon stat"></span><span>blue</span><span class="num">num</span></li>
                    </ul>
				</div>
				

				

				<p class="guide-info">정중앙정렬 박스타입 mu-dialog-box > text/form</p>
				<div class="mu-row">
					<div class="mu-col mu-col-6">
						<div class="mu-dialog-box" style="border:1px dashed red;"><!-- style은 확인용 영역 -->
							Femto를 이용해 WiFi 를 리셋 하시겠습니까?
						</div>
					</div>
					<div class="mu-col mu-col-6">							
						<div class="mu-dialog-box" style="border:1px dashed red;"><!-- style은 확인용 영역 -->
							<div class="mu-hgroup">
								<div class="mu-radio"><input type="radio" id="r1" name="radio" checked="checked"> <label for="r1">True</label></div> 
								<div class="mu-radio"><input type="radio" id="r2" name="radio"> <label for="r2">False</label></div>
							</div>
						</div>
					</div>
				</div>


				<p class="guide-info">도움말 툴팁 타입별 : mu-tooltip + right / left / top / bottom</p>
				<div style="position:relative;height:100px;"><!-- style은 확인용 영역 -->
					<div style="position:absolute;top:25px;">
						<span class="info">도움말 아이콘표시 : </span>
						<i class="mu-icon-img info"></i>
					</div>
					
					<div class="mu-tooltip right" style="left:120px;top:15px;">
						<div class="arrow"></div> 
						<div class="mu-tooltip-inner">
							<span>mu-tooltip right <br>mu-tooltip right</span>
						</div>
					</div>
					<div class="mu-tooltip left" style="left:360px;top:15px;">
						<div class="arrow"></div> 
						<div class="mu-tooltip-inner">
							<span>mu-tooltip left <br>mu-tooltip left</span>
						</div>
					</div>
					<div class="mu-tooltip top" style="left:600px;top:15px;">
						<div class="arrow"></div> 
						<div class="mu-tooltip-inner">
							<span>mu-tooltip top <br>mu-tooltip top</span>
						</div>
					</div>
					<div class="mu-tooltip bottom" style="left:820px;top:15px;">
						<div class="arrow"></div> 
						<div class="mu-tooltip-inner">
							<span>mu-tooltip bottom <br>mu-tooltip bottom</span>
						</div>
					</div>
				</div>

			</div>						
		</div>
		<!-- //guide-container -->
		<footer id="guide-footer">
			<p class="copy">Copyright © 2020 Mobigen UX Development. All rights reserved.</p>
		</footer>
	</div>

</div>
<script src="https://unpkg.com/vue@2.6.10"></script><!-- 20200814 MOD : vue@2.3.3 ==> @2.6.10 -->
<script src="https://unpkg.com/ag-grid-community@21.0.1/dist/ag-grid-community.min.noStyle.js"></script><!-- 20200814 MOD : ver @23.2.1 ==> @21.0.1 -->
<script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@2.12.0/lib/index.min.js"></script>
<script src="assets/js/cnc-vue-jstree.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script>
//달력+시간 샘플 2.12.0
Vue.use(DatePicker.default);
    
new Vue({
	
	el: '#app',
	data: {
	  prjName: 'TMS',
	  stdDate:null,
	  lang: {
			days: ['일', '월', '화', '수', '목', '금', '토'],
			months: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
			pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
			placeholder: {
			date: 'Select Date',
			dateRange: 'Select Date Range'
			}
		},
	 time:'',
	 timePickerOptions:{
		 start: '00',
		 step: '00',
		 end: '00'
	   }
	},
	
	beforeMount(){
	
		
	},
	mounted() {
		this.stdDate  = Date.now();
	},
	

})

//ag-grid 개발참고용 샘플코드 form guide1	
// specify the columns
var columnDefs = [
    {headerName: "", field: "cl1",width: 40, sortable: true,checkboxSelection: true,headerCheckboxSelection: true},
    {headerName: "말줄임이 기본 말줄임합니다", field: "cl2", width: 150, unSortIcon: true},
    {headerName: "normal", field: "cl3", width: 200, unSortIcon: true, cellClass:"normal"},
    {headerName: "critical", field: "cl4", width: 200, unSortIcon: true, cellClass:"critical"},
    {headerName: "major", field: "cl5", width: 200, unSortIcon: true, cellClass:"major"},
    {headerName: "minor", field: "cl6", width: 200, unSortIcon: true, cellClass:"minor"},
    {headerName: "그리드 내부버튼", field: "cl7", width: 350, unSortIcon: true,
    template:'<button type="button" class="mu-btn mu-btn-sm">상세</button>'}

];

// specify the data
var rowData = [
    {cl1: "", cl2: "cell이 길어질때는 말줄임합니다", cl3: "normal", cl4: "critical", cl5: "major", cl6: "minor", cl7: ""},
    {cl1: "", cl2: "cell이 길어질때는 말줄임합니다", cl3: "normal", cl4: "critical", cl5: "major", cl6: "minor", cl7: ""},
    {cl1: "", cl2: "cell이 길어질때는 말줄임합니다", cl3: "normal", cl4: "critical", cl5: "major", cl6: "minor", cl7: ""},	  
];

// let the grid know which columns and what data to use
var gridOptions = {
    defaultColDef: {
    sortable: true
    },
    columnDefs: columnDefs,
    rowData: rowData
};

// lookup the container we want the Grid to use
var eGridDiv = document.querySelector('#myGrid1');

// create the grid passing in the div to use together with the columns & data we want to use
new agGrid.Grid(eGridDiv, gridOptions);

//ag-grid 개발참고용 샘플코드 form guide2	
// specify the columns
var columnDefs = [
	{headerName: "rowspan3", field: "aaa", headerClass: "rowspan3", width:150, unSortIcon: true},
	{headerName: "SKB",
		children: [
			{headerName: "AP",
				children: [
					{headerName: "cellClass:linked", field: "bbb", width:160, cellClass:"linked"},
					{headerName: "OOS율(%)", field: "ccc", width:160}
				]
			},
		]
	}
];

// specify the data
var rowData = [
	{aaa: "111", bbb: "linked sample", ccc: "333"},
	{aaa: "111", bbb: "cellClass:'linked'", ccc: "333"},
	{aaa: "111", bbb: "linked", ccc: "333"},
	{aaa: "111", bbb: "linked", ccc: "333"},
	{aaa: "111", bbb: "linked", ccc: "333"},
	{aaa: "111", bbb: "linked", ccc: "333"},
	{aaa: "111", bbb: "linked", ccc: "333"},
	{aaa: "111", bbb: "linked", ccc: "333"}
];

// let the grid know which columns and what data to use
var gridOptions = {
    defaultColDef: {
    sortable: true
    },
    columnDefs: columnDefs,
    rowData: rowData,
	rowSelection: 'single'
};

// lookup the container we want the Grid to use
var eGridDiv = document.querySelector('#myGrid2');

// create the grid passing in the div to use together with the columns & data we want to use
new agGrid.Grid(eGridDiv, gridOptions);
    
//ag-grid 개발참고용 샘플코드 form guide2	
// specify the columns
var columnDefs = [
	{headerName: "rowspan2", field: "aaa", headerClass: "rowspan2", width:150},
	{headerName: "SKB",
		children: [
			{headerName: "장비수", field: "bbb", width:100},
			{headerName: "OOS율(%)", field: "ccc", width:100}
		]
	}
];

// specify the data
var rowData = [
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"},
	{aaa: "111", bbb: "222", ccc: "333", ddd: "444", eee: "555", fff: "666", ggg: "777", hhh: "888"}
];

// let the grid know which columns and what data to use
var gridOptions = {
    defaultColDef: {
    sortable: true
    },
    columnDefs: columnDefs,
    rowData: rowData,
	rowSelection: 'single'
};

// lookup the container we want the Grid to use
var eGridDiv = document.querySelector('#myGrid3');

// create the grid passing in the div to use together with the columns & data we want to use
new agGrid.Grid(eGridDiv, gridOptions);

		//ag-grid 개발참고용 샘플코드1
		// specify the columns
		var columnDefs = [			
			{headerName: "", field: "cl1", headerClass: "rowspan2", width: 40, sortable: true, checkboxSelection: true, headerCheckboxSelection: true},
			{headerName: "테스트용 그리드", field: "cl2", headerClass: "rowspan2", width: 150, unSortIcon: true},
			{headerName: "rowspan2", field: "cl3", headerClass: "rowspan2", width:150,
    			template:'<div class="mu-selectbox mu-select-sm"><button class="mu-value">그리드용사이즈</button><ul class="mu-list"><li value="1">list option1</li><li value="2">list option2</li><li value="3">list option3</li></ul></div>'},
			{headerName: "자동제어",
				children: [
					{headerName: "ON/OFF", field: "cl4", width:100,
    			template:'<button type="button" class="mu-btn mu-btn-sm">OFF</button>'},
					{headerName: "상태", field: "cl5", width:100}
				]
			}

		];

		// specify the data
		var rowData = [
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "111", cl5: "SKB동작운영팀"}, 			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "222", cl5: "SKB동작운영팀"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "333", cl5: "SKB동작운영팀"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "444", cl5: "SKB동작운영팀"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "555", cl5: "SKB동작운영팀"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "666", cl5: "SKB동작운영팀"},  			
			{cl1: "ag-grid 개발참고용 샘플코드", cl2: "테스트용 그리드", cl3: "샘플코드", cl4: "777", cl5: "SKB동작운영팀"}
		];
  
		// let the grid know which columns and what data to use
		var gridOptions = {
			defaultColDef: {
			sortable: true
			},
			columnDefs: columnDefs,
			rowData: rowData,
			rowSelection: 'single'
		};

		// lookup the container we want the Grid to use
		var eGridDiv = document.querySelector('#myGrid4');

		// create the grid passing in the div to use together with the columns & data we want to use
		new agGrid.Grid(eGridDiv, gridOptions);
</script>
</body>
</html>
