@charset "utf-8";

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	}
}

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-thin.eot');
	src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-thin.woff2') format('woff2'),
	url('../fonts/notokr-thin.woff') format('woff'),
	url('../fonts/notokr-thin.ttf') format('truetype'),
	url('../fonts/notokr-thin.svg#notokr') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-light.eot');
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-light.woff2') format('woff2'),
	url('../fonts/notokr-light.woff') format('woff'),
	url('../fonts/notokr-light.ttf') format('truetype'),
	url('../fonts/notokr-light.svg#notokr') format('svg');
	font-weight: 300;
	font-style: normal;
}
} 

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-demilight.eot');
	src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-demilight.woff2') format('woff2'),
	url('../fonts/notokr-demilight.woff') format('woff'),
	url('../fonts/notokr-demilight.ttf') format('truetype'),
	url('../fonts/notokr-demilight.svg#notokr') format('svg');
	font-weight: 350;
	font-style: normal;
}

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff2') format('woff2'),
	url('../fonts/notokr-regular.woff') format('woff'),
	url('../fonts/notokr-regular.ttf') format('truetype'),
	url('../fonts/notokr-regular.svg#notokr') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-medium.eot');
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-medium.woff2') format('woff2'),
	url('../fonts/notokr-medium.woff') format('woff'),
	url('../fonts/notokr-medium.ttf') format('truetype'),
	url('../fonts/notokr-medium.svg#notokr') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-bold.eot');
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-bold.woff2') format('woff2'),
	url('../fonts/notokr-bold.woff') format('woff'),
	url('../fonts/notokr-bold.ttf') format('truetype'),
	url('../fonts/notokr-bold.svg#notokr') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'notokr';
	src: url('../fonts/notokr-black.eot');
	src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-black.woff2') format('woff2'),
	url('../fonts/notokr-black.woff') format('woff'),
	url('../fonts/notokr-black.ttf') format('truetype'),
	url('../fonts/notokr-black.svg#notokr') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

body, body *, .mu-title, .mu-dialog-head .title, .mu-datepicker input, .mu-pagination li a, .mu-alert-body{/* font-family:roboto, notokr; */font-family:notokr; }
body, h1, h2, h3, h4, h5, h6, input, button, textarea, select, a{font-size:12px;font-weight:400;color:#3d3d3f;line-height:1;}
a:hover{color:#3d3d3f;}
body{min-width:1900px;min-height:1079px;background:#fff;}
.wrapper{height:100%;}

/* 크롬브라우저 */
*:focus, input:focus, button:focus, textarea:focus{outline:none;}

/* Common Placeholder */
::-webkit-input-placeholder{color:#979797;}
:-moz-placeholder{/* Firefox 18- */color:#979797;}
::-moz-placeholder{/* Firefox 19+ */color:#979797;}
:-ms-input-placeholder{color:#979797;}

/* GNB */
header{height:50px;border-top:3px solid #363638;box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);padding:0;
	background: #323234; /* Old browsers */
	background: -moz-linear-gradient(top,  #323234 0%, #474749 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #323234 0%,#474749 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #323234 0%,#474749 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323234', endColorstr='#474749',GradientType=0 ); /* IE6-9 */
}
h1{float:left;min-width:91px;height:37px;background:url("../images/common/logo_skt.png") no-repeat center center;border:none;color:#fff;margin:2px 0 0 28px;}
h2{float:left;min-width:250px;height:28px;background:url("../images/common/logo_tms.png") no-repeat center center;border:none;color:#fff;margin:11px 63px 0 40px;}
h1 span, h2 span{display:none;}
nav{width:calc(100% - 472px);}
/* GNB - depth1 */
.mu-h-menu > li{padding:8px 0 11px;}
.mu-h-menu > li > a{font-size:14px;color:#fff;font-weight:500;line-height:28px;border-left:1px solid #4d4d4f;}
.mu-h-menu > li.active > a, .mu-h-menu > li:hover > a{background:none;color:#fff;}
.mu-h-menu > li.active > a > span, .mu-h-menu > li:hover > a > span{text-shadow:0 0 30px rgba(255, 255, 255, 1);}
/* GNB - depth2 */
.mu-h-menu .mu-list{background:#fff;border:none;border-radius:0;box-shadow:none;min-width:170px;padding:0;margin-top:11px;}
.mu-h-menu .mu-list > li{height:28px;line-height:28px;text-align:center;text-indent:0;border:1px solid #cbcbcb;}
.mu-h-menu .mu-list > li + li{margin-top:-1px;}
.mu-h-menu .mu-list > li:hover, .mu-h-menu .mu-list > li.active{background:none;border:1px solid #959595;}
.mu-h-menu .mu-list > li > a{font-size:14px;color:#606061;line-height:26px;}
.mu-h-menu .mu-list > li:hover > a, .mu-h-menu .mu-list > li.active > a{color:#e31836;}
/* GNB - topmenu */
.mu-top-menu{font-size:0;line-height:28px;padding:7px 0 10px;}
.mu-top-menu > *{height:100%;display:inline-block;vertical-align:middle;font-size:12px;color:#fff;margin:0;padding:0 10px;}
.mu-top-menu > * + *{border-left:1px solid #4d4d4f;}
.mu-top-menu .mu-btn{width:30px;min-width:auto;height:30px;background:#2b2b2b;border:none;border-radius:4px;padding:0;text-align:center;}
.mu-top-menu .mu-btn:hover, .mu-top-menu .mu-btn:active{background:#2b2b2b;border:none;}
.mu-top-menu .user-info{padding:0 20px;}
.mu-top-menu .user-info span{padding-left:10px;}
.mu-top-menu .session span{padding:0 18px 0 12px;}

.mu-container{height:calc(100% - 50px);}
section{padding:0;background:url("../images/common/logo_default.png") no-repeat center center;}

/* panel */
.mu-panel{width:100%;height:100%;display:block;border:none;border-radius:0;}
.mu-panel > .mu-panel-head{height:40px;background:#282828;border:none;padding:0 20px;text-indent:0;}
.mu-panel > .mu-panel-head > *{display:inline-block;vertical-align:middle;}
.mu-panel > .mu-panel-head h3.mu-title{font-size:16px;font-weight:500;color:#fff;line-height:40px;}
.mu-panel > .mu-panel-head .mu-panel-head-btn{float:right;line-height:40px;}
.mu-panel > .mu-panel-head .mu-panel-head-btn .mu-btn{width:auto;min-width:auto;height:auto;margin:0;}
.mu-panel > .mu-panel-head .mu-panel-head-btn > *{display:inline-block;vertical-align:middle;}
.mu-panel > .mu-panel-head .mu-btn{width:auto;min-width:auto;height:auto;}
.mu-panel > .mu-panel-body{height:calc(100% - 40px);padding:16px;}
.mu-panel.popupwindow_minimized{width:20%;}

/* searchbox */
.mu-search-group{position:relative;background:#eeeeee;border:1px solid #e1e1e1;border-radius:0;box-shadow:none;display:block;}
.mu-search-group .mu-search-item{width:auto;padding:7px 20px;}
.mu-search-item > table > tbody > tr > td, .mu-search-item > table > tbody > tr > th{padding:5px 10px 5px 0;}
.mu-search-item > table > tbody > tr > th{text-align:right;}
.mu-search-item > table > tbody > tr > th label{font-weight:500;}
/*.mu-search-item > table > tbody > tr > th label:before{content:"";display:inline-block;vertical-align:middle;width:2px;height:2px;background:#3d3d3f;border-radius:100%;margin-right:4px;}*/
.mu-search-group .mu-search-btn{width:100px;height:auto;padding:0;}
.mu-search-group .mu-search-btn .mu-btn{position:absolute;top:12px;right:12px;bottom:12px;min-width:100px;height:auto;background:#3c3c3c;border:none;border-radius:3px;text-align:center;}
.mu-search-group .mu-search-btn .mu-btn:hover, .mu-search-group .mu-search-btn .mu-btn:active{background:#000;}
.mu-search-group .mu-search-btn .mu-btn span{font-size:16px;font-weight:500;color:#fff;}

/* grid */
.mu-grid-wrap{height:100%;}
.mu-grid-top{height:40px;padding:6px 0;}
.mu-grid-top > *{display:inline-block;vertical-align:middle;} 
.mu-grid-top label{font-weight:500;}
/*.mu-grid-top label:before{content:"";display:inline-block;vertical-align:middle;width:2px;height:2px;background:#3d3d3f;border-radius:100%;margin-right:4px;}*/
.mu-grid-top .result{font-size:16px;font-weight:500;padding:10px 0 0 5px;}
.mu-grid-top .mu-grid-top-btn{float:right;}
.mu-grid-top + .mu-grid-body{width:100%;text-align:center;height:calc(100% - 80px);}
.mu-grid-body{height:calc(100% - 40px);}

/* btn */
.mu-btn{height:27px;line-height:25px;background:#fff;border:1px solid #e1e1e1;border-radius:2px;font-size:0;text-align:left;padding:0 8px;}
.mu-btn span{font-size:12px;font-weight:700;color:#3d3d3f;text-align:center;display:inline-block;vertical-align:middle;}
.mu-btn:hover, .mu-btn:active{background:#fff;border:1px solid #959595;}
.mu-btn-icon{min-width:82px;padding:0 5px;}
.mu-btn-icon span{min-width:47px;padding-left:2px;}
.mu-btn-bg-non{background:none;border:none;}
.mu-btn-bg-non:hover, .mu-btn-bg-non:active{background:none;border:none;}
.mu-btn-close{background:#f8f8f8;}
.mu-btn-icon-only{min-width:auto;}

.mu-panel-head-btn{font-size:0;}
.mu-panel-head-btn .mu-btn{display:inline-block;vertical-align:middle;padding:0;}
.mu-panel-head{font-size:0;}
.mu-panel-head .mu-btn{display:inline-block;vertical-align:middle;}
.mu-panel-head .mu-btn +.mu-btn{margin-left:14px;}
.mu-grid-top-btn{font-size:0;}
.mu-grid-top-btn .mu-btn{display:inline-block;vertical-align:middle;}
.mu-grid-top-btn .mu-btn + .mu-btn{margin-left:7px;}

/* icon */
.mu-icon-img{display:inline-block;vertical-align:middle;}
.mu-btn .mu-icon-img{width:23px;height:20px;background:url("../images/common/icon_btn.png") no-repeat 0 0;}
.mu-btn .detail{background-position:0 0;}
.mu-btn .manage{background-position:-23px 0;}
.mu-btn .trash{background-position:-46px 0;}
.mu-btn .download{background-position:-69px 0;}
.mu-btn .search{background-position:-92px 0;}
.mu-btn .check{background-position:-115px 0;}
.mu-btn .close{background-position:-138px 0;}
.mu-btn .apview{background-position:-161px 0;}
.mu-btn .setting{background-position:-184px 0;}
/*.mu-panel-head-btn .mu-icon-img{width:20px;height:19px;background:url("../images/common/icon_panel.png") no-repeat 0 0;}
.mu-panel-head-btn .mu-btn:hover .mu-icon-img, .mu-panel-head-btn .mu-btn:active .mu-icon-img, .mu-panel-head-btn .mu-btn.active .mu-icon-img{background-position-y:-19px;}
.mu-panel-head-btn .min{background-position:0 0;}
.mu-panel-head-btn .max{background-position:-20px 0;}
.mu-panel-head-btn .close{background-position:-40px 0;}*/
.mu-panel-head .mu-icon-img{width:20px;height:19px;background:url("../images/common/icon_panel.png") no-repeat 0 0;}
.mu-panel-head .mu-btn:hover .mu-icon-img, .mu-panel-head-btn .mu-btn:active .mu-icon-img, .mu-panel-head-btn .mu-btn.active .mu-icon-img{background-position-y:-19px;}
.mu-panel-head .min{background-position:0 0;}
.mu-panel-head .max{background-position:-20px 0;}
.mu-panel-head .unmax{background-position:-40px 0;}
.mu-panel-head .close{background-position:-60px 0;}
.mu-panel-head .play{background-position:-80px 0;}
.mu-panel-head .stop{background-position:-100px 0;}
.mu-panel-head .refresh{background-position:-120px 0;}
.mu-panel-head .help{background-position:-140px 0;}
.mu-top-menu .mu-icon-img{width:20px;height:20px;background:url("../images/common/icon_topmenu.png") no-repeat 0 0;}
.mu-top-menu .clock{background-position:0 0;}
.mu-top-menu .refresh{background-position:-20px 0;}
.mu-top-menu .user{background-position:-40px 0;}
.mu-top-menu .logout{background-position:-60px 0;}
.mu-search-btn .search{width:20px;height:20px;background:url("../images/common/icon_search.png") no-repeat 0 0;}
.mu-dialog-head .mu-icon-img, .mu-alert-head .mu-icon-img{width:20px;height:19px;background:url("../images/common/icon_panel.png") no-repeat 0 0;}
.mu-dialog-head .mu-btn:hover .mu-icon-img, .mu-dialog-head .mu-btn:active .mu-icon-img, .mu-alert-head .mu-btn:hover .mu-icon-img, .mu-alert-head .mu-btn:active .mu-icon-img{background-position-y:-19px;}
.mu-dialog-head .close, .mu-alert-head .close{background-position:-60px 0;}

/* pagination*/
.mu-pagination{height:16px;margin-top:10px;}
.mu-pagination button, .mu-pagination a{width:16px;height:16px;border-radius:0;}
.mu-pagination > * + *, .mu-pagination li + li{margin-left:10px;}
.mu-pagination li a{width:auto;line-height:16px;text-align:center;padding:0;background:#fff;border:none;font-size:12px;font-weight:500;color:#3d3d3f;margin:0 5px;}
.mu-pagination li:hover a, .mu-pagination li:active a{background:#fff;border:none;color:#e31836;}
.mu-pagination li.active a{background:#fff;border-bottom:1px solid #3d3d3f;color:#3d3d3f;font-weight:700;}
.mu-pagination .mu-first, .mu-pagination .mu-last, .mu-pagination .mu-prev, .mu-pagination .mu-next{width:16px;padding:0;}
.mu-pagination button, .mu-pagination button:hover, .mu-pagination button:active{background:none;padding:0;}
.mu-pagination button span:after{content:"";display:block;width:16px;height:16px;background:url("../images/common/icon_pagination.png") no-repeat 0 0;margin:0 auto;}
.mu-pagination .mu-first span:after{content:"";background-position:0 0;}
.mu-pagination .mu-prev span:after{content:"";background-position:-16px 0;}
.mu-pagination .mu-next span:after{content:"";background-position:-32px 0;}
.mu-pagination .mu-last span:after{content:"";background-position:-48px 0;}
.mu-pagination button:hover span:after, .mu-pagination button:active span:after{background-position-y:-16px;}
.mu-pagination button[disabled], .mu-pagination button[disabled]:hover{background:#fff;cursor:no-drop;}
.mu-pagination button[disabled] span:after{background-position-y:-32px;}

/* inputbox */
.mu-input{height:27px;line-height:25px;background:#fff;border:1px solid #d7d7d7;border-radius:0;padding:0 8px;}
.mu-input:hover, .mu-input:focus{border-color:#959595;}
.mu-input[disabled], .mu-input[readonly]{background:#f4f4f4;border-color:#d7d7d7;cursor:no-drop;}

/* selectbox */
.mu-selectbox .mu-value{width:100%;height:27px;line-height:25px;background:#fff;color:#3d3d3f;border:1px solid #d7d7d7;border-radius:0;padding:0 36px 0 8px;}
.mu-selectbox .mu-value:before{content:"";position:absolute;top:1px;right:1px;bottom:1px;width:28px;background:#f4f4f4;border-left:1px solid #d7d7d7;}
.mu-selectbox .mu-value:after{right:10px;border:5px solid #606061;border-left-color:transparent;border-right-color:transparent;border-bottom:none;border-radius:0;}
.mu-selectbox .mu-value:hover{border-color:#959595;}
.mu-selectbox .mu-value:hover:before{border-left:1px solid #959595;}
.mu-selectbox.on .mu-value{background:#fff;color:#3d3d3f;}
.mu-selectbox.on .mu-value:before{border-left:1px solid #959595;}
.mu-selectbox.on .mu-value:after{border:5px solid #606061;border-left-color:transparent;border-right-color:transparent;border-top:none;}
.mu-selectbox.disabled > .mu-value{border-color:#d7d7d7;}
.mu-selectbox.disabled .mu-value:before{border-left:1px solid #d7d7d7;}
.mu-selectbox .mu-list{background:#fff;border:1px solid #d7d7d7;border-top:none;border-radius:0;box-shadow:none;color:#3d3d3f;z-index:101;} 
.mu-selectbox .mu-list > li{text-indent:0;height:27px;line-height:26px;padding:0 8px;}
.mu-selectbox .mu-list > li + li{border-top:1px solid #d7d7d7;}
.mu-selectbox .mu-list > li:first-child{border-radius:0;}
.mu-selectbox .mu-list > li:last-child{border-radius:0;}
.mu-selectbox .mu-list > li:hover{background:#f8f8f8;color:#e31836;}

/* checkbox */
.mu-checkbox label{width:;height:15px;line-height:15px;}
.mu-checkbox label:before{content:"";width:15px;height:14px;background:url("../images/common/icon_check.png") no-repeat 0 0;}
.mu-checkbox label:hover:before{background-position:0 -14px;}
.mu-checkbox input:checked + label:before{content:"";background-position:-15px 0;}
.mu-checkbox input:checked + label:hover:before{background-position:-15px -14px;}
.mu-checkbox input[disabled] + label:before{content:"";background:#f4f4f4;border:1px solid #d7d7d7;}
.mu-hgroup > .mu-checkbox + .mu-checkbox{margin-left:10px;}

/* radio */
.mu-radio label{width:;height:15px;line-height:15px;}
.mu-radio label:before{content:"";width:15px;height:14px;background:url("../images/common/icon_radio.png") no-repeat 0 0;}
.mu-radio label:hover:before{background-position:0 -14px;}
.mu-radio input:checked + label:before{content:"";background-position:-15px 0;}
.mu-radio input:checked + label:hover:before{background-position:-15px -14px;}
.mu-radio input[disabled] + label:before{content:"";background:#f4f4f4;border:1px solid #d7d7d7;}
.mu-hgroup > .mu-radio + .mu-radio{margin-left:10px;}

/* textarea */
.mu-area{height:auto;min-height:auto;line-height:16px;background:#fff;border:1px solid #d7d7d7;border-radius:0;padding:5px 8px;}
.mu-area:hover, .mu-area:focus{border-color:#959595;}
.mu-area[disabled], .mu-area[readonly]{background:#f4f4f4;border-color:#d7d7d7;cursor:no-drop;}

.mu-item-group{font-size:0;}
.mu-item-group > .mu-input{width:auto;}
.mu-item-group > *{display:inline-block;vertical-align:middle;font-size:12px;}
.mu-item-group > * + *{margin-left:10px;}
.mu-item-group > .mu-btn{font-size:0;}

/* dialog */
.ui-widget-overlay{background:#000;opacity:.4;z-index:30000;}
.mu-dialog-background{z-index:30000;}
.mu-dialog{border:1px solid #3c3c3c;border-radius:0;box-shadow:none;z-index:30001;}
.mu-dialog-head{height:42px;line-height:42px;background:#3c3c3c;border:none;color:#fff;padding-left:20px;}
.mu-dialog-head .mu-btn{width:auto;min-width:auto;height:auto;line-height:100%;margin:11px 10px 0 0;}
.mu-dialog-head .mu-title{font-size:16px;font-weight:500;line-height:inherit;}
.mu-fix-foot .mu-dialog-body{top:42px;height:calc(100% - 42px - 81px);}
.mu-dialog-body{padding:15px;}
.mu-dialog-foot{border-top:1px solid #d7d7d7;padding:15px 0 25px;margin:0 15px;text-align:center;font-size:0;}
.mu-dialog-foot .mu-btn{width:112px;height:40px;border:1px solid #e1e1e1;border-radius:3px;padding:0 8px;}
.mu-dialog-foot .mu-btn:hover, .mu-dialog-foot .mu-btn:active{border-color:#959595;}
.mu-dialog-foot .mu-btn span{min-width:70px;font-size:16px;font-weight:500;padding:0;}
.mu-dialog-foot .mu-btn + .mu-btn{margin-left:16px;}

/* alert */
.mu-alert{border:1px solid #3c3c3c;border-radius:0;box-shadow:none;padding:0;z-index:30001;}
.mu-alert-head{height:42px;line-height:42px;background:#3c3c3c;border:none;color:#fff;padding-left:20px;}
.mu-alert-head .mu-btn{float:right;width:auto;min-width:auto;height:auto;margin:11px 10px 0 0;}
.mu-alert-head .mu-title{font-size:16px;font-weight:500;}
.mu-alert-body{width:100%;padding:35px 40px;font-size:16px;font-weight:500;}
.mu-alert-body .mu-icon-img.alert{width:53px;height:48px;background:url("../images/common/icon_alert.png") no-repeat 0 0;}
.mu-alert-body .mu-icon-img.info{width:47px;height:47px;background:url("../images/common/icon_info.png") no-repeat 0 0;}
.mu-alert-body .mu-alert-msg{width:calc(100% - 60px);border:none;text-align:center;display:inline-block;vertical-align:middle;padding:0;margin:0;word-break:break-all;}
.mu-alert-foot{border-top:1px solid #d7d7d7;padding:15px 0 25px;margin:0 15px;text-align:center;font-size:0;}
.mu-alert-foot .mu-btn{width:112px;height:40px;border:1px solid #e1e1e1;border-radius:3px;padding:0 8px;}
.mu-alert-foot .mu-btn:hover, .mu-alert-foot .mu-btn:active{border-color:#959595;}
.mu-alert-foot .mu-btn span{min-width:70px;font-size:16px;font-weight:500;padding:0;}
.mu-alert-foot .mu-btn + .mu-btn{margin-left:16px;}

.mu-formbox{border:none;}
.mu-formbox tbody > tr{height:42px;}
.mu-formbox tbody > tr > th{background:none;text-align:right;vertical-align:top;padding:15px 6px 0 6px;}
.mu-formbox tbody > tr > td{padding:6px}
.mu-formbox tbody > tr:first-child > th, .mu-formbox tbody > tr:first-child > td{border:none;}
.mu-formbox tbody > tr:last-child > th, .mu-formbox tbody > tr:last-child > td{border:none;}
.mu-formbox thead > tr > th:first-child, .mu-formbox tbody > tr > th:first-child, .mu-formbox thead > tr > td:first-child, .mu-formbox tbody > tr > td:first-child{border:none;}
.mu-formbox thead > tr > th:last-child, .mu-formbox tbody > tr > th:last-child, .mu-formbox thead > tr > td:last-child, .mu-formbox tbody > tr > td:last-child{border:none;}
.mu-formbox tbody > tr+tr > th, .mu-formbox tbody > tr+tr > td{border:none;}
.mu-formbox tbody > tr > th+th, .mu-formbox tbody > tr > th+td, .mu-formbox tbody > tr > td+td, .mu-formbox tbody > tr > td+th{border:none;}
.mu-formbox tbody > tr > th label{font-weight:500;}
/*.mu-formbox tbody > tr > th label:before{content:"";display:inline-block;vertical-align:middle;width:2px;height:2px;background:#3d3d3f;border-radius:100%;margin-right:4px;}*/




/* 임시*/
.mu-panel{border:1px solid #3c3c3c;}
.mu-panel > .mu-panel-body{padding:0;overflow:auto;}
/* .mu-panel > .mu-panel-body #main{width:100%;min-width:1900px;height:100%;padding:16px;} */
.mu-panel > .mu-panel-body .mu-content{width:100%;min-width:1898px;height:100%;padding:16px;position:relative;}

.mu-selectbox{width:150px;}
.mu-search-item > table > tbody > tr > td > .mu-selectbox{width:150px;}
.mu-formbox tbody > tr > td > .mu-selectbox{width:150px;}
.mu-selectbox .mu-value, .mu-selectbox .mu-list > li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.mu-input{width:150px;}
.mu-item-group .mu-input{width:150px;}
.mu-formbox tbody > tr > td .mu-input{width:100%;}
.mu-formbox tbody > tr > td .mu-item-group .mu-input{width:150px;}


/*.mu-grid-body .mu-grid{height:calc(100% - 26px);}*/
.mu-grid-body .mu-grid + .mu-pagination{margin-top:10px;height:16px;}
/* .mu-grid-body > table{height:calc(100% - 26px);} */
/*.mu-grid-body > table{height:500px;}*/



/* jqgrid */
/* .ui-jqgrid, .ui-jqgrid-view {height:100%;} */
.ui-jqgrid.ui-widget{border:none;border-radius:0;}
.ui-jqgrid .ui-jqgrid-hdiv{border:1px solid #d7d7d7 !important;border-radius:0;}
.ui-jqgrid .ui-state-default{border:1px solid #e1e1e1;background:#ebebeb;}
.ui-jqgrid .ui-state-default.ui-state-hover{background:#f5f5f5;}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column{height:27px;line-height:23px;padding:2px 10px;font-size:12px;color:#3d3d3f;font-weight:500;text-align:left;}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div{height:100%;margin:0;}

.ui-jqgrid .ui-jqgrid-bdiv{border:1px solid #e1e1e1;border-top:none;}
.ui-jqgrid tr.jqgrow{border:none;}
.ui-jqgrid tr.jqgrow.ui-state-hover{background:#fafafa;}
.ui-jqgrid tr.jqgrow.ui-state-highlight{background:#fdf2f3;}
.ui-jqgrid tr.jqgrow td{border-color:#e1e1e1;height:27px;line-height:22px;padding:2px 10px;font-size:12px;color:#3d3d3f;}

.ui-jqgrid .ui-jqgrid-resize{height:27px !important;margin:-2px -10px -2px 0;}
.ui-jqgrid .ui-jqgrid-sortable .s-ico{float:right;margin-right:12px;}
.ui-jqgrid .ui-icon-asc{margin:0;}
.ui-jqgrid .ui-icon-desc{margin:6px 0 0 0}

.ui-jqgrid tr.jqgrow td{vertical-align:middle;}
.ui-jqgrid tr.jqgfirstrow td{border-color:#e1e1e1;}




/* 지하철관리 */
.latest-collect{margin-right:20px;}
.latest-collect > *{display:inline-block;vertical-align:middle;}
.latest-collect span{font-size:12px;color:#fff;margin-right:10px;}
.auto-collect{margin-right:20px;}
.auto-collect > *{display:inline-block;vertical-align:middle;}
.auto-collect span{font-size:12px;color:#fff;margin-right:10px;}

#subway{padding:0;}
.subway{background:#fff;width:100%;height:100%;}
.subway-city{position:absolute;top:10px;left:10px;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);}
.subway-city > ul > li{/* background:url("../images/common/bg_subway_map.jpg") no-repeat 0 0; */background:#fff;width:244px;height:144px;border:1px solid #4a4a4a;position:relative;cursor:pointer;}
.subway-city > ul > li:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:url("../images/common/bg_subway_map.jpg") no-repeat 0 0;opacity:0.8;}
/* .subway-city > ul > li:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(77,77,77,0.4);}
.subway-city li.active:after, .subway-city li.search:after{content:none;}
.subway-city li:hover:after{content:none;background:rgba(77,77,77,0.1);} */
.subway-city > ul > li + li{margin-top:-1px;}
.subway-city li.seoulmetro:before{background-position:0 0;}
.subway-city li.busan:before{background-position:0 -142px;}
.subway-city li.daegu:before{background-position:0 -284px;}
.subway-city li.gwangju:before{background-position:0 -426px;}
.subway-city li.daejeon:before{background-position:0 -568px;}
.subway-city li:hover:before{background-position-x:-242px;}
.subway-city li.active:before{background-position-x:-484px;opacity:1;}
/* .subway-city li.active:hover:before{background-position-x:-726px;} */
.subway-city li.search:before{content:none;}
.subway-city .name{position:absolute;left:15px;top:15px;font-size:22px;color:#dcdcdc;font-weight:500;}
.subway-city .rate{position:absolute;right:15px;top:10px;font-size:39px;color:#dcdcdc;font-weight:500;text-shadow:0 3px 3px rgba(0, 0, 0, 0.3);}
.subway-city li:hover .name{color:#f0f0f0;}
.subway-city li:hover .rate{color:#f0f0f0;}
.subway-city li.active .name{color:#3c3c3c;font-weight:700;}
.subway-city li.active .rate{color:#3c3c3c;font-weight:700;}
.subway-city li.alarm .rate{color:#e31937;}
.subway-city .stat{position:absolute;left:6px;bottom:10px;padding:8px 0;width:230px;height:57px;border-radius:4px;font-size:0;background:rgba(43,43,43,0.4);}
.subway-city li.active .stat{background:rgba(255,255,255,0.78);border:1px solid rgba(183,183,183,0.78);}
.subway-city .stat li{display:inline-block;width:34%;height:100%;color:#dcdcdc;text-align:right;padding:0 8px;line-height:22px;}
.subway-city .stat li + li{width:33%;border-left:1px solid rgba(0,0,0,0.2);}
.subway-city li:hover .stat li{color:#f0f0f0;}
.subway-city li.active .stat li{font-weight:500;color:#323232;}
.subway-city .stat li:after{content:"";display:block;clear:both;}
.subway-city .stat .tit{font-size:12px;}
.subway-city .stat .num{font-size:22px;font-weight:500;letter-spacing:-1px;}
.subway-city li.active .stat .num{font-weight:700;}
.subway-city .stat li .critical{color:#f22010;}
.subway-city .stat li .minor{color:#e7af19;}
.subway-city li:hover{border-color:#141414;}
.subway-city li.active:hover:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;border:2px solid #e31937;}
.subway-city li:hover + li{border-top-color:#141414;}
.subway-city li.search{height:40px;border-color:#141414;padding:5px;font-size:0;
background: #717171; /* Old browsers */
background: -moz-linear-gradient(top,  #717171 0%, #4e4e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #717171 0%,#4e4e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #717171 0%,#4e4e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#4e4e4e',GradientType=0 ); /* IE6-9 */
}
.subway-city li.search > *{display:inline-block;vertical-align:middle;}
.subway-city li.search .mu-input{width:200px;background:#2b2b2b;border:none;border-radius:3px;color:#fff;}
.subway-city li.search .mu-btn{width:27px;background:#2b2b2b;border:none;border-radius:3px;padding:0;margin-left:5px;text-align:center;}
.subway-city li.search .mu-btn:hover, .subway-city li.search .mu-btn:active{background:#000;}
.subway-city li.search .mu-btn .mu-icon{vertical-align:middle;}

.subway-line{position:absolute;top:10px;left:264px;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);font-size:0;}
.subway-line li{min-width:66px;height:50px;border:1px solid #4a4a4a;display:inline-block;margin-left:-1px;font-size:12px;text-align:center;cursor:pointer;padding:8px 10px;
	background: #717171; /* Old browsers */
	background: -moz-linear-gradient(top,  #717171 0%, #4e4e4e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #717171 0%,#4e4e4e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #717171 0%,#4e4e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#4e4e4e',GradientType=0 ); /* IE6-9 */
}
.subway-line .line-name{font-size:0;color:#f0f0f0;font-weight:500;margin-bottom:3px;}
.subway-line .rate{font-size:14px;color:#f0f0f0;font-weight:500;}
.subway-line li.active{background:#fff;}
.subway-line li.active .line-name{color:#3d3d3f;}
.subway-line li.active .rate{color:#3c3c3c;}
.subway-line li.alarm .rate{color:#e31836;}
.subway-line li:hover{border-color:#141414;}
.subway-line li:hover + li{border-left-color:#141414;}
.subway-line .line-name span{display:inline-block;vertical-align:middle;font-size:12px;}
.subway-line .line-name .line-color{border-radius:3px;width:16px;height:16px;line-height:16px;background:#000;color:#fff;text-align:center;margin-right:3px;}
.seoulmetro .line-01 .line-color{background:#1b44a9;}
.seoulmetro .line-02 .line-color{background:#4dc532;}
.seoulmetro .line-03 .line-color{background:#f27210;}
.seoulmetro .line-04 .line-color{background:#3c99e2;}
.seoulmetro .line-05 .line-color{background:#6c21cf;}
.seoulmetro .line-06 .line-color{background:#925c33;}
.seoulmetro .line-07 .line-color{background:#798807;}
.seoulmetro .line-08 .line-color{background:#cb1273;}
.seoulmetro .line-09 .line-color{background:#ba9a10;}
.seoulmetro .line-10 .line-color{background:#4fc876;}
.seoulmetro .line-11 .line-color{background:#47bab1;}
.seoulmetro .line-12 .line-color{background:#68affe;}
.seoulmetro .line-13 .line-color{background:#f38010;}
.seoulmetro .line-14 .line-color{background:#f7b313;}
.seoulmetro .line-15 .line-color{background:#7ee2fe;}
.seoulmetro .line-16 .line-color{background:#cb8c1a;}
.seoulmetro .line-17 .line-color{background:#ca0838;}
.seoulmetro .line-18 .line-color{background:#f49311;}
.seoulmetro .line-19 .line-color{background:#80d90e;}
.seoulmetro .line-20 .line-color{background:#f49211;}
.seoulmetro .line-21 .line-color{background:#3481ef;}
.seoulmetro .line-22 .line-color{background:#c0c937;}
.seoulmetro .line-23 .line-color{background:#85bf37;}

.subway-btn-wrap{position:absolute;right:16px;bottom:16px;font-size:0;}
.subway-btn-wrap .mu-btn{min-width:auto;width:40px;height:40px;background:#3c3c3c;border:none;border-radius:3px;text-align:center;}
.subway-btn-wrap .mu-btn:hover, .subway-btn-wrap .mu-btn:active{background:#000;}
.subway-btn-wrap .mu-btn + .mu-btn{margin-left:8px;}
.subway-btn-wrap .mu-btn .mu-icon-img{width:20px;height:20px;background:url("../images/common/icon_subway_btn.png") no-repeat 0 0;}
.subway-btn-wrap .mu-btn .mu-icon-img.plus{background-position:0 0;}
.subway-btn-wrap .mu-btn .mu-icon-img.minus{background-position:-20px 0;}


/* svg */
svg text{font-family:notokr;font-weight:500;}
svg tspan{font-family:notokr;font-weight:500;}
.subway object{pointer-events:none;}



.mu-tab{display:block;}
.mu-tab > li + li{margin-left:-1px;}
.mu-tab > li > a, .mu-tab > li > a:hover, .mu-tab > li > a:active{background:#6d6d6d;border:1px solid #d7d7d7;border-bottom:none;border-radius:0;min-width:92px;height:28px;line-height:27px;font-size:13px;color:#fff;font-weight:400;padding:0 5px;}
.mu-tab > li.active > a{background:#fff;color:#3c3c3c;font-weight:500;}
.mu-tab > li.disabled > a{background:#b6b6b6;color:#dbdbdb;}
.mu-tab > li > a .mu-icon-img{position:relative;}
.mu-tab > li > a .mu-icon-img, .mu-tab > li > a:hover .mu-icon-img, .mu-tab > li:active > a .mu-icon-img{width:22px;height:12px;background:url("../images/common/icon_subway.png") no-repeat 0 0;margin-right:5px;}
.mu-tab > li.active > a .mu-icon-img{background-position:0 -12px;}
.mu-tab > li.disabled > a .mu-icon-img{background-position:0 -24px;}
.mu-tab > li.critical > a .mu-icon-img{background-position:0 -36px;}
.mu-tab > li.minor > a .mu-icon-img{background-position:0 -48px;}
/* .mu-tab > li > a .mu-icon-img:after{content:"";position:absolute;top:-6px;right:-6px;width:12px;height:12px;}
.mu-tab > li.normal > a .mu-icon-img:after{background:url("../images/common/icon_subway_alarm.png") no-repeat 0 0;}
.mu-tab > li.critical > a .mu-icon-img:after{background:url("../images/common/icon_subway_alarm.png") no-repeat -12px 0;}
.mu-tab > li.major > a .mu-icon-img:after{background:url("../images/common/icon_subway_alarm.png") no-repeat -24px 0;}
.mu-tab > li.minor > a .mu-icon-img:after{background:url("../images/common/icon_subway_alarm.png") no-repeat -36px 0;}
.mu-tab > li.oos > a .mu-icon-img:after{background:url("../images/common/icon_subway_alarm.png") no-repeat -48px 0;} */
.mu-tab-body{margin-top:-1px;border:1px solid #d7d7d7;}
.mu-tabCont{padding:10px;}
.mu-tabCont .mu-formbox{margin-bottom:20px;}
.mu-tabCont .mu-formbox tbody > tr{height:35px;}
.mu-tabCont .mu-formbox tbody > tr > th{padding:11px 6px 0 6px;}
.mu-tabCont .mu-formbox tbody > tr > td{padding:4px;vertical-align:top;}
.mu-tabCont .mu-formbox tbody > tr > td .mu-area{height:62px;}
.mu-tab-body .mu-tab-body .mu-tabCont{height:300px;}

.alarm-remark{position:absolute;top:8px;right:0;font-size:0;height:12px;}
.alarm-remark li{position:relative;display:inline-block;vertical-align:middle;font-size:12px;padding-left:27px;font-weight:500;}
.alarm-remark li + li{margin-left:15px;}
.alarm-remark li.normal{color:#64c100;}
.alarm-remark li.critical{color:#f22010;}
.alarm-remark li.major{color:#f27510;}
.alarm-remark li.minor{color:#e7af19;}
.alarm-remark li.oos{color:#b6b6b6;}
.alarm-remark li .mu-icon-img{position:absolute;top:0;left:0;width:22px;height:12px;background:url("../images/common/icon_subway.png") no-repeat 0 0;}
.alarm-remark li.critical .mu-icon-img{background-position:0 -36px;}
.alarm-remark li.minor .mu-icon-img{background-position:0 -48px;}

.subway-detail{position:relative;height:100%;}
.subway-detail > .mu-tab-body{height:calc(100% - 35px - 28px);}
.subway-detail > .mu-tab-body .mu-tabCont{height:100%;}
.subway-detail > .mu-tab-body .mu-tabCont .mu-tab-body{height:calc(100% - 230px - 28px);}
.subway-detail .line-name{margin:0 0 15px 10px;}
.line-name{font-size:0;color:#3d3d3f;font-weight:700;margin-bottom:3px;}
.line-name span{display:inline-block;vertical-align:middle;font-size:20px;letter-spacing:-1px;}
.line-name .line-color{border-radius:3px;width:20px;height:20px;line-height:20px;background:#000;font-size:18px;color:#fff;font-weight:500;text-align:center;margin-right:3px;}
.line-name .station-name{margin-left:5px;}

.alarm-rate{position:relative;width:100%;height:27px;line-height:25px;border:1px solid #d7d7d7;color:#fff;padding-left:28px;background:#64c100;}
.alarm-rate.normal{background:#64c100;}
.alarm-rate.minor{background:#e7af19;}
.alarm-rate.major{background:#f27510;}
.alarm-rate.critical{background:#f22010;}
.alarm-rate.oos{background:#b6b6b6;}
.mu-icon-img.alarm{position:absolute;top:5px;left:8px;width:15px;height:15px;background:url("../images/common/icon_alarm.png") no-repeat 0 0;}
.mu-grid-body .alarm-rate .mu-icon-img.alarm{left:0;background-position:-15px 0;}
.mu-grid-body .alarm-rate.normal .mu-icon-img.alarm{background-position:-15px 0;}
.mu-grid-body .alarm-rate.minor .mu-icon-img.alarm{background-position:-30px 0;}
.mu-grid-body .alarm-rate.major .mu-icon-img.alarm{background-position:-45px 0;}
.mu-grid-body .alarm-rate.critical .mu-icon-img.alarm{background-position:-60px 0;}
.mu-grid-body .alarm-rate.oos .mu-icon-img.alarm{background-position:-75px 0;}
.mu-grid-body .alarm-rate{background:none;border:none;padding-left:20px;color:#64c100;}
.mu-grid-body .alarm-rate.normal{color:#64c100;}
.mu-grid-body .alarm-rate.minor{color:#e7af19;}
.mu-grid-body .alarm-rate.major{color:#f27510;}
.mu-grid-body .alarm-rate.critical{color:#f22010;}
.mu-grid-body .alarm-rate.oos{color:#b6b6b6;}
.subway-detail .mu-panel{border:none;}
.subway-detail .mu-panel-head{background:none;padding:6px 0;}
.subway-detail .mu-panel-body{}
.subway-detail .mu-panel pre{width:100%;height:100%;background:#000;color:#fff;}

/* dialog - 도움말*/
.mu-dialog-help{padding:10px;}
.mu-dialog-help .mu-title{font-size:16px;margin-bottom:8px;}
.mu-dialog-help li{font-size:14px;}
.mu-dialog-help li + li{margin-top:5px;}
.mu-dialog-help .mu-title ~ .mu-title{margin-top:25px;}

/* 호선별 상태 2019-12-16 ADD */
.subway-status{position:absolute;top:70px;left:264px;width:222px;height:;background:#fff;border:1px solid #4a4a4a;padding:10px;}
.subway-status .line-name{font-size:0;color:#3c3c3c;font-weight:700;margin-bottom:3px;}
.subway-status .line-name span{display:inline-block;vertical-align:middle;font-size:12px;}
.subway-status .line-name .line-color{border-radius:3px;width:16px;height:16px;line-height:16px;}
.subway-status .mu-formbox tr{height:25px;}
.subway-status .mu-formbox th{text-align:left;vertical-align:middle;padding:0;}
.subway-status .mu-formbox td{text-align:right;vertical-align:middle;padding:0;font-size:14px;font-weight:700;}
.subway-status .alarm-rate .mu-icon-img.alarm{left:0;background-position:-15px 0;}
.subway-status .alarm-rate.normal .mu-icon-img.alarm{background-position:-15px 0;}
.subway-status .alarm-rate.minor .mu-icon-img.alarm{background-position:-30px 0;}
.subway-status .alarm-rate.major .mu-icon-img.alarm{background-position:-45px 0;}
.subway-status .alarm-rate.critical .mu-icon-img.alarm{background-position:-60px 0;}
.subway-status .alarm-rate.oos .mu-icon-img.alarm{background-position:-75px 0;}
.subway-status .alarm-rate{height:auto;line-height:25px;background:none;border:none;padding-left:20px;color:#3d3d3f;}

/* 자동리셋버튼 */
.subway-btn-top{position:absolute;top:70px;left:491px;}
.subway-btn-top .mu-btn{border-color:#4a4a4a;}
.subway-btn-top .mu-btn:hover{border-color:#e31836;}

/* dialog - 지하철 자동리셋 설정 */
.mu-dialog-info .mu-title{font-size:16px;color:#606061;border-bottom:1px solid #d7d7d7;padding:5px 0;margin:10px 0;}
.mu-dialog-info li{font-size:12px;color:#3d3d3f;font-weight:500;line-height:18px;}
.mu-dialog-info li > ul{padding-left:16px;}