<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paging.demo.mapper.EqpInfMapper">

    <sql id="getEqpInfList">
        select
            ceiling(count(*) over () / #{perPageNum}) as page, count(*) over () as totalCnt
		     , row_number() over(order BY eqp_id ) as num
             , eqp.eqp_id as 'eqpId'
             , eqp.eqp_nm as 'eqpNm'
             , eqp.eqp_cl_cd as 'eqpClCd'
             , eqp.eqp_op_stat_cd as 'eqpOpStatCd'
             , eqp.jrdt_hdofc_cd as 'jrdtHdofcCd'
             , eqp.rdt_team_org_cd as 'rdtTeamOrgCd'
             , eqp.eqp_srno as 'eqpSrno'
             , eqp.mst_ip as 'mstIp'
             , eqp.lat_codn as 'latCodn'
             , eqp.lng_codn as 'lngCodn'
             , eqp.op_chrr_id as 'opChrrId'
             , date_format(eqp.regrt_dt, '%Y-%m-%d %H:%i:%S') as 'regrtDt'
             , eqp.regrt_id as 'regrtId'
             , date_format(eqp.udt_dt, '%Y-%m-%d %T') as 'udtDt'
             , eqp.udt_id as 'udtId'
             , eqpOpStatCd.com_cd_nm as 'eqpOpStatCdNm' 
             , eqpClCd.com_cd_nm as 'eqpClCdNm'
             , jrdtHdofcCd.com_cd_nm as 'jrdtHdofcCdNm'
             , rdtTeamOrgCd.com_cd_nm as 'rdtTeamOrgCdNm'
        from
            eqp_inf eqp
                left join com_cd eqpOpStatCd
                    on eqp.eqp_op_stat_cd = eqpOpStatCd.com_cd
                    and eqpOpStatCd.grp_cd = '06'
                left join com_cd eqpClCd
                    on eqp.eqp_cl_cd = eqpClCd.com_cd
                    and eqpClCd.grp_cd = '05'
                left join com_cd jrdtHdofcCd
                    on eqp.jrdt_hdofc_cd  = jrdtHdofcCd.com_cd
                    and jrdtHdofcCd.grp_cd = '07'
                left join com_cd rdtTeamOrgCd
                    on eqp.rdt_team_org_cd  = rdtTeamOrgCd.com_cd
                    and rdtTeamOrgCd.grp_cd = '08'
       <where>
            <if test="eqpNm != null and eqpNm != ''">
                and eqp.eqp_nm like concat('%',#{eqpNm},'%')
            </if>

            <if test="eqpClCd != null and eqpClCd != ''">
                and eqp.eqp_cl_cd = #{eqpClCd}
            </if>
            <if test="eqpOpStatCd != null and eqpOpStatCd != ''">
                and eqp.eqp_op_stat_cd = #{eqpOpStat}
            </if>
            <if test="jrdtHdofcCd != null and jrdtHdofcCd != ''">
                and eqp.jrdt_hdofc_cd = #{jrdtHdofcCd}
            </if>
            <if test="rdtTeamOrgCd != null and rdtTeamOrgCd != ''">
                and eqp.rdt_team_org_cd = #{rdtTeamOrgCd}
            </if>
            <if test="eqpId != null and eqpId != ''">
                and eqp.eqp_id = #{eqpId}
            </if>
        </where>
    </sql>

    <select id="getEqpInfListPaging" parameterType="EqpInfDto" resultType="EqpInfDto" >
        select
            AA.*
        from
            (
                <include refid="getEqpInfList" />
            ) AA
        <where>
            and AA.num &gt; (#{page} - 1) * #{perPageNum} and AA.num &lt;= #{page} * #{perPageNum}
        </where>
    </select>

    <insert id="insEqpInf">
        <!-- keyProperty는 insert할 변수이름, resultType 시퀀스 타입 -->
        <selectKey keyProperty="eqpId" resultType="String" order="BEFORE">
                select lpad(nextval(EQP_SEQ),5,"0") as eqp_id from dual
        </selectKey>

        insert into eqp_inf
            (
                  eqp_id
                , eqp_nm
                , eqp_cl_cd
                , eqp_op_stat_cd
                , jrdt_hdofc_cd
                , rdt_team_org_cd
                , eqp_srno
                , mst_ip
                , lat_codn
                , lng_codn
                , op_chrr_id
                , regrt_dt
                , regrt_id
                , udt_dt
                , udt_id
            )
        VALUES
            (   
                  #{eqpId}
                , #{eqpNm}
                , #{eqpClCd}
                , #{eqpOpStatCd}
                , #{jrdtHdofcCd}
                , #{rdtTeamOrgCd}
                , #{eqpSrno}
                , #{mstIp}
                , #{latCodn}
                , #{lngCodn}
                , #{opChrrId}
                , to_char(sysdate(), 'YYYY-MM-DD hh:mm:ss')
                , #{regrtId}
                , to_char(sysdate(), 'YYYY-MM-DD hh:mm:ss')
                , #{udtId}
            );
    </insert>


    <update id="udtEqpInf" >
        update eqp_inf
            set     
              eqp_nm = #{eqpNm}
            , eqp_cl_cd = #{eqpClCd}
            , eqp_op_stat_cd = #{eqpOpStatCd}
            , jrdt_hdofc_cd = #{jrdtHdofcCd}
            , rdt_team_org_cd = #{rdtTeamOrgCd}
            , eqp_srno = #{eqpSrno}
            , mst_ip = #{mstIp}
            , lat_codn = #{latCodn}
            , lng_codn = #{lngCodn}
            , op_chrr_id = #{opChrrId}
            , udt_dt = #{udtDt}
            , udt_id = #{udtId}
        <where>
            eqp_id = #{eqpId}
        </where>
    </update>

</mapper>