<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paging.demo.mapper.EqpInfMapper">

    <sql id="getEqpInfList">
        SELECT
            CEILING(COUNT(*) OVER () / #{perPageNum}) AS page, COUNT(*) OVER () AS totalCnt
		     , ROW_NUMBER() OVER(ORDER BY EQP_ID DESC) AS num
             , ef.EQP_ID
             , ef.EQP_NM
             , ef.EQP_CL_CD
             , ef.EQP_OP_STAT_CD
             , ef.JRDT_HDOFC_CD
             , ef.RDT_TEAM_ORG_CD
             , ef.EQP_SRNO
             , ef.MST_IP
             , ef.LAT_CODN
             , ef.LNG_CODN
             , ef.OP_CHRR_ID
             , DATE_FORMAT(ef.REGRT_DT, '%Y-%m-%d %H:%i:%S') AS REGRT_DT
             , ef.REGRT_ID
             , DATE_FORMAT(ef.UDT_DT, '%Y-%m-%d %T') AS UDT_DT
             , ef.UDT_ID
             , co.COM_CD_NM AS EQP_OP_STAT_CD_NM
             , co2.COM_CD_NM AS EQP_CL_CD_NM
             , co3.COM_CD_NM AS JRDT_HDOFC_CD_NM
             , co4.COM_CD_NM AS RDT_TEAM_ORG_CD_NM
        FROM
            EQP_INF ef
                LEFT JOIN COM_CD co
                    ON ef.EQP_OP_STAT_CD = co.COM_CD
                    AND co.GRP_CD = '06'
                LEFT JOIN COM_CD co2
                    ON ef.EQP_CL_CD = co2.COM_CD
                    AND co2.GRP_CD = '05'
                LEFT JOIN COM_CD co3
                    ON ef.JRDT_HDOFC_CD  = co3.COM_CD
                    AND co3.GRP_CD = '07'
                LEFT JOIN COM_CD co4
                    ON ef.RDT_TEAM_ORG_CD  = co4.COM_CD
                    AND co4.GRP_CD = '08'
       <where>
            <if test="eqpName != null and eqpName != ''">
                AND ef.EQP_NM LIKE CONCAT('%',#{eqpName},'%')
            </if>

            <if test="eqpClCd != null and eqpClCd != ''">
                AND ef.EQP_CL_CD = #{eqpClCd}
            </if>
            <if test="eqpOpStat != null and eqpOpStat != ''">
                AND ef.EQP_OP_STAT_CD = #{eqpOpStat}
            </if>
            <if test="jrdtHdofcCd != null and jrdtHdofcCd != ''">
                AND ef.JRDT_HDOFC_CD = #{jrdtHdofcCd}
            </if>
            <if test="rdtTeamOrgCd != null and rdtTeamOrgCd != ''">
                AND ef.RDT_TEAM_ORG_CD = #{rdtTeamOrgCd}
            </if>
            <if test="EQP_ID != null and EQP_ID != ''">
                AND ef.EQP_ID = #{EQP_ID}
            </if>
        </where>
    </sql>

    <select id="getEqpInfListPaging" resultType="EqpInfDto" >
        SELECT
            AA.*
        FROM
            (
                <include refid="getEqpInfList" />
            ) AA
        <where>
            AND AA.num &gt; (#{page} - 1) * #{perPageNum} AND AA.num &lt;= #{page} * #{perPageNum}
        </where>
    </select>

    <insert id="insEqpInf">
        <!-- keyProperty는 insert할 변수이름, resultType 시퀀스 타입 -->
        <selectKey keyProperty="EQP_ID" resultType="String" order="BEFORE">
                SELECT LPAD(nextval(EQP_SEQ),5,"0") AS EQP_ID FROM DUAL
        </selectKey>

        INSERT INTO EQP_INF
            (
                  EQP_ID
                , EQP_NM
                , EQP_CL_CD
                , EQP_OP_STAT_CD
                , JRDT_HDOFC_CD
                , RDT_TEAM_ORG_CD
                , EQP_SRNO
                , MST_IP
                , LAT_CODN
                , LNG_CODN
                , OP_CHRR_ID
                , REGRT_DT
                , REGRT_ID
                , UDT_DT
                , UDT_ID
            )
        VALUES
            (   
                  #{EQP_ID}
                , #{EQP_NM}
                , #{EQP_CL_CD}
                , #{EQP_OP_STAT_CD}
                , #{JRDT_HDOFC_CD}
                , #{RDT_TEAM_ORG_CD}
                , #{EQP_SRNO}
                , #{MST_IP}
                , #{LAT_CODN}
                , #{LNG_CODN}
                , #{OP_CHRR_ID}
                , TO_CHAR(sysdate(), 'YYYY-MM-DD hh:mm:ss')
                , #{REGRT_ID}
                , TO_CHAR(sysdate(), 'YYYY-MM-DD hh:mm:ss')
                , #{UDT_ID}
            );
    </insert>


    <update id="udtEqpInf"  parameterType="string">
        UPDATE EQP_INF
            SET     
              EQP_NM = #{EQP_NM}
            , EQP_CL_CD = #{EQP_CL_CD}
            , EQP_OP_STAT_CD = #{EQP_OP_STAT_CD}
            , JRDT_HDOFC_CD = #{JRDT_HDOFC_CD}
            , RDT_TEAM_ORG_CD = #{RDT_TEAM_ORG_CD}
            , EQP_SRNO = #{EQP_SRNO}
            , MST_IP = #{MST_IP}
            , LAT_CODN = #{LAT_CODN}
            , LNG_CODN = #{LNG_CODN}
            , OP_CHRR_ID = #{OP_CHRR_ID}
            , UDT_DT = #{UDT_DT}
            , UDT_ID = #{UDT_ID}
        <where>
            EQP_ID = {#EQP_ID}
        </where>
    </update>

</mapper>